<div class="header-toolbar">
    <div class="inner-wrap">
        <div class="message">
            <span [innerHTML]="'header-toolbar.message' | translate"></span>
        </div>
        <div class="header-toolbar-actions">
            <a class="learn-more-button" target="_blank" href="http://publiq.site">{{'header-toolbar.learn_more' | translate}}</a>
            <a class="primary-button" routerLink="/user/register">{{'header-toolbar.join_now' | translate}}</a>
        </div>
    </div>
</div>
