<div class="container-fluid main-grid mb-5">
    <div class="mt-50">
        <h2 class="mb-3">Account</h2>

        <div *ngIf="!loadingAccount">
            <div class="row justify-content-center align-items-center spinner no-gutters">
                <mat-spinner></mat-spinner>
            </div>
        </div>

        <div>
            <table class="mb-5" *ngIf="account$ | async as account; else account_not_found">
                <thead>
                <tr class="text-capitalize">
                    <th>Summary</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Account</td>
                    <td>#{{ account.id }}</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>{{ account.name }}</td>
                </tr>
                <tr>
                    <td>registrar</td>
                    <td>
                        <a class="underline-none" routerLink="{{account.registrar.route}}">{{account.registrar.id}}</a>
                    </td>
                </tr>
                <tr>
                    <td>statistics</td>
                    <td>{{ account.statistics }}</td>
                </tr>
                <tr>
                    <td>top_n_control_flags</td>
                    <td>{{ account.top_n_control_flags }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <ng-template #account_not_found>
            <div class="mb-3">Account not found!</div>
        </ng-template>

        <h2 class="mb-3">Account history</h2>

        <div *ngIf="history; else account_history_not_found">
            <div *ngFor="let operation of history" class="mb-3">
                <div class="text-capitalize row table-header no-gutters mb-4">
                    <div class="col-6">Operation: <strong>{{operation.m_operation_type | OperationName}}</strong></div>
                </div>
                <div class="ml-4">
                    <div class="text-capitalize row table-header no-gutters">
                        <div class="col-6">Key</div>
                        <div class="col-6 text-right">Data</div>
                    </div>
                    <json-viewer class="viewer" [json]="operation" [showObjectSummery]="false" [showArraySummery]="false"></json-viewer>
                </div>
            </div>
        </div>

        <ng-template #account_history_not_found>
            <div class="mb-3">Account history not found!</div>
        </ng-template>
    </div>
</div>
