<div class="main-wrap" *ngIf="false">
  <div class="inner-wrap-main">
    <div class="main-wrap">
      <div *ngIf="coverImageUrl">
        <div [ngStyle]="coverImageUrl && {'background-image':'url(' + coverImageUrl + ')' } " [ngClass]="{'inner-title-wrap': true}">
          <div class="inner-wrap">
          </div>
          <div class="overlay"></div>
        </div>
      </div>
      <div class="inner-content-wrap article-full-content">
        <div class="inner-wrap" *ngIf="article.text">
          <div class="content">
            <div class="content-inner">
              <div class="article-author">
                <div class="author-image">
                  <ui-avatar [avatarData]="{'image': env.backend + '/' + authorImage, 'fullName': authorFirstName}"></ui-avatar>
                </div>
                <div class="author-info">
                  <span class="author-info__name">{{authorFullName}}</span>
                  <span class="author-info__published">{{published * 1000 | date:'dd MMM, HH:mm'}}</span>
                </div>
                <div class="follow-button" *ngIf="!isCurrentUser">
                  <ui-button [type]="'primary'" [size]="'medium'" [text]="'Follow'"></ui-button>
                </div>
              </div>
              <h1 class="article-title">{{article.title}}</h1>
              <div [innerHTML]="article.text" class="article-main-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="article__cover" [ngStyle]="coverImageUrl && {'background-image':'url(' + coverImageUrl + ')' } " ></div>
    </div>
  </div>
</div>
<div class="container" *ngIf="article">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="article__title">{{article.title}}</h1>
      <div class="article__content" [innerHTML]="article.text"></div>
    </div>
  </div>
</div>