<div class="vh-centered" *ngIf="loading && isAdult()">
    <mat-spinner></mat-spinner>
</div>
<div class="main-wrap" *ngIf="!loading && !isAdult()" lazy-load-images>
    <div class="inner-wrap-main">
        <div class="main-wrap" *ngIf="article">
            <!--ARTICLE TITLE START-->
            <div [ngStyle]="image && {'background-image':'url(' + image + ')' } "
                 [ngClass]="{'inner-title-wrap': true, 'overlay-title': article.meta.revision}">
                <div class="inner-wrap">
                    <div class="author-wrap eff03s">
                        <div class="avatar" [attr.data-background-src]="checkImageHashExist(article) !== 'none' ? checkImageHashExist(article): null">
                            <span *ngIf="checkImageHashExist(article) === 'none'"
                                  class="vh-centered">{{article.full_account?.shortName}}</span>
                        </div>
                        <a (click)="toAuthorPage()">{{article.full_account?.firstName}} {{article.full_account?.lastName}}</a>
                        <span class="eff03s" *ngIf="article?.publication"> in </span>
                        <span class="eff03s" style="cursor:pointer" *ngIf="article?.publication"
                              [routerLink]="['/p/' + article?.publication.slug]"> {{article?.publication.title}}</span>

                    </div>
                    <h1 class="eff03s">{{article.meta.title}}</h1>

                    <h2 class="eff03s">
            <span>
              <span>
                <i class="icon-uploaded" *ngIf="article"></i>
                  {{article.published | date:'d'}}
                  {{('months.' + ((article.published)| date:'MMM')) | translate}}
                  {{thisYear != (article.published | date: ' y') ? (article.published | date: ' y') : ''}}, 
                  {{article.published | date: ' HH:mm'}}
              </span>
              <span *ngIf="historyList.length > 1" (click)="scrollToHistory()" class="edited-date">
                <i class="icon-appointment"></i>
                <em>
                  {{article.created | date:'d'}}
                  {{thisYear != (article.created | date: ' y') ? (article.created | date: ' y') : ''}} 
                    {{('months.' + ((article.created)| date:'MMM')) | translate}},
                    {{article.created | date: 'HH:mm'}}
                </em>
              </span>
            </span>
                        <span>
                <span><i class="icon-views"></i>{{article.viewcount}}</span>
            </span>
                    </h2>
                    <p class="tags eff06s">
                        <ng-container *ngFor="let tag of article.meta.tags; let lastTag = last;">
                            <a routerLink="/t/{{tag.display ? tag.display : ''}}">{{tag.display ? tag.display : ''}}{{lastTag ? '' : ', '}}</a>
                        </ng-container>
                    </p>
                </div>
                <div class="overlay"></div>
            </div>
            <!--ARTICLE TITLE END-->

            <div class="inner-content-wrap">
                <div class="inner-wrap" *ngIf="!article.content">
                    <div id="container">
                        <div class="card">
                            <div class="bottom-section">
                                <div class="content-header load-animate"></div>
                                <div class="content-section">
                                    <div class="content-info">
                                        <!--<div class="block block--long load-animate"></div>-->
                                        <div class="block block--long load-animate"></div>
                                        <div class="block block--long load-animate"></div>
                                        <div class="block block--long load-animate"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inner-wrap" *ngIf="article.content">
                    <div class="content">
                        <div class="content-inner">
                            <p class="headline">{{article.meta.headline}}</p>
                            <div [innerHTML]="article.content?.data?.text | safeHtml"
                                 class="article-main-content"></div>
                            <div class="row" *ngIf="article.meta.source_of_material || article.meta.reference">
                                <div class="mb-2 col-12 material-source">
                                    <div *ngIf="article.meta.source_of_material && article.meta.reference; else sourceOrReference">
                                        {{'core.material_source' | translate}}:
                                        <span class="pointer source-link" (click)="redirectToSource(article.meta.source_of_material)">{{article.meta.reference}}</span>
                                    </div>
                                    <ng-template #sourceOrReference>
                                        <div *ngIf="article.meta.source_of_material || article.meta.reference">
                                            <span *ngIf="article.meta.reference; else sourceOfMaterialOnly">
                                                {{'core.material_source' | translate}}: <span>{{article.meta.reference}}</span>
                                            </span>
                                            <ng-template #sourceOfMaterialOnly>
                                                <span class="pointer source-link" (click)="redirectToSource(article.meta.source_of_material)">{{'core.material_source' | translate}}</span>
                                            </ng-template>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <!-- like dislike space -->
                        <div *ngIf="!article.meta.revision" class="row no-gutters actions-container content-inner">
                            <div *ngIf="!isMyContent()" class="pt-4 col-12">
                                <div class="article-action pointer"
                                     [ngClass]="{'active': getLikeFeedbackActiveStatus()}"
                                     (click)="reportLike()">
                                    <i class="icon-like" [ngClass]="{'active': getLikeFeedbackActiveStatus()}"></i>
                                </div>
                                <div class="article-action pointer"
                                     [ngClass]="{'active': getReportFeedbackActiveStatus()}"
                                     (click)="report()">
                                    <i class="icon-report" [ngClass]="{'active': getReportFeedbackActiveStatus()}"></i>
                                    <span>{{'core.report_article' | translate}}</span>
                                </div>

                                <!--div class="share-icons">
                                    <div class="sharethis-inline-share-buttons" *ngIf="channelService.shareThis"></div>
                                </div-->
                            </div>

                            <div *ngIf="isMyContent()" class="pt-4">
                                <div class="article-action pointer" [routerLink]="['/content/edit/' + article._id]">
                                    <mat-icon class="mat-18">edit</mat-icon>
                                    <span>{{'core.edit_story' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!article.meta.revision && historyList.length > 1" #targetHistory>
                            <!--<div class="blue-line"><div></div></div>-->
                            <div class="see-accordion">
                                <h6>{{'core.has_been_edited' | translate}}</h6>
                                <mat-accordion class="see-more">
                                    <ng-container *ngFor="let nextHistoryItem of historyList">
                                        <mat-expansion-panel *ngIf="nextHistoryItem.ds_id != article._id"
                                                             (opened)="showHistoryData(nextHistoryItem)">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <p class="history-item-info">
                                                        <span>{{nextHistoryItem.meta.title}}</span>
                                                        <span>{{'core.edited' | translate}}:
                                                            {{getCorrectDateFormat(nextHistoryItem.created) | date:'d'}}
                                                            {{('months.' + (getCorrectDateFormat(nextHistoryItem.created)| date:'MMM')) | translate}}
                                                            ,
                                                            {{getCorrectDateFormat(nextHistoryItem.created) | date: 'HH:mm'}}
                            </span>
                                                    </p>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div *ngIf="openedHistoryContents[nextHistoryItem.ds_id]">
                                                <div class="inner-title-wrap"
                                                     [attr.data-background-src]="nextHistoryItem.meta.image_hash">
                                                    <div class="inner-wrap">
                                                        <div class="author-wrap eff03s">
                                                            <div class="avatar"
                                                                 [attr.data-background-src]="checkImageHashExist(openedHistoryContents[nextHistoryItem.ds_id]) !== 'none' ? checkImageHashExist(openedHistoryContents[nextHistoryItem.ds_id]) : null">
                                <span
                                        *ngIf="checkImageHashExist(openedHistoryContents[nextHistoryItem.ds_id]) === 'none'"
                                        class="vh-centered">{{openedHistoryContents[nextHistoryItem.ds_id].full_account?.shortName}}</span>
                                                            </div>
                                                            <a routerLink="/a/{{openedHistoryContents[nextHistoryItem.ds_id].full_account.name}}">{{openedHistoryContents[nextHistoryItem.ds_id].full_account?.firstName}}
                                                                {{openedHistoryContents[nextHistoryItem.ds_id].full_account?.lastName}}</a>
                                                        </div>
                                                        <h1 class="eff03s">{{openedHistoryContents[nextHistoryItem.ds_id].meta.title}}</h1>
                                                        <h2 class="eff03s">
                              <span>
                                  <span>
                                    <i class="icon-uploaded"></i>
                                      {{getCorrectDateFormat(openedHistoryContents[nextHistoryItem.ds_id].published)| date:'d'}}
                                      {{('months.' + (getCorrectDateFormat(openedHistoryContents[nextHistoryItem.ds_id].published)| date:'MMM')) | translate}}
                                      ,
                                      {{getCorrectDateFormat(openedHistoryContents[nextHistoryItem.ds_id].published) | date: 'HH:mm'}}
                                  </span>
                                  <span>
                                    <i class="icon-appointment"></i>
                                      {{getCorrectDateFormat(openedHistoryContents[nextHistoryItem.ds_id].created)| date:'d'}}
                                      {{('months.' + (getCorrectDateFormat(openedHistoryContents[nextHistoryItem.ds_id].created)| date:'MMM')) | translate}}
                                      ,
                                      {{getCorrectDateFormat(openedHistoryContents[nextHistoryItem.ds_id].created) | date: 'HH:mm'}}
                                  </span>
                              </span>
                                                            <span>
                                  <span><i
                                          class="icon-views"></i>{{openedHistoryContents[nextHistoryItem.ds_id].viewcount}}
                                  </span>
                              </span>
                                                        </h2>
                                                        <p class="tags eff06s">
                                                            <ng-container
                                                                    *ngFor="let tag of openedHistoryContents[nextHistoryItem.ds_id].meta.tags; let lastTag = last;">
                                                                <a routerLink="/t/{{tag.display ? tag.display : ''}}">{{tag.display ? tag.display : ''}}{{lastTag ? '' : ', '}}</a>
                                                            </ng-container>
                                                        </p>
                                                    </div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="inner-wrap ng-star-inserted">
                                                </div>
                                                <div class="content">
                                                    <p class="headline">{{openedHistoryContents[nextHistoryItem.ds_id].meta.headline}}</p>
                                                    <div class="article-main-content content-inner">
                                                        <div
                                                                [innerHTML]="openedHistoryContents[nextHistoryItem.ds_id].content?.data?.text | safeHtml"
                                                                class="article-main-content"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <mat-spinner style="margin: 50px auto;"
                                                         *ngIf="!openedHistoryContents[nextHistoryItem.ds_id]"></mat-spinner>
                                        </mat-expansion-panel>
                                    </ng-container>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="articleTagsContents && articleTagsContents.length >= 3">
                    <app-article-small-card-list [articles]="articleTagsContents"></app-article-small-card-list>
                </div>
                <div *ngIf="articleAuthorContents && articleAuthorContents.length >= 3">
                    <app-article-small-card-list [articles]="articleAuthorContents"></app-article-small-card-list>
                </div>
            </div>
        </div>
    </div>
</div>
