<div class="container">
    <div class="row publication-cover publication-cover--editable"> <!-- style="background-image: url(https://via.placeholder.com/1320x340);" -->
        <div class="col-lg-8 offset-lg-2">
            <div class="publication-cover__guide">
                <div class="icon-profile upload-icon"></div>
                <div class="publication-cover__guide__texts">
                    <h4>Drop or upload a cover photo here!</h4>
                    <p>JPG, PNG up to 5mb, 1400x364px recommended.</p>
                </div>
            </div>

            <div class="publication-cover__actions">
                <ui-button iconClassName="picture" text="Upload"></ui-button>
                <ui-dropdown-list [isDark]="true" delta="0" position="top" icon="menu" [items]="coverMenuItems"></ui-dropdown-list>
                <!-- <ui-button [iconButton]="true" size="small" iconClassName="menu"></ui-button> -->
                <!-- <div class="button">
                    <i class="icon-picture"></i>
                    <span>Upload</span>
                </div> -->
                <!-- <div class="button button--icon button--icon--small">
                    <i class="icon-menu"></i>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row publication-metadata">
        <div class="col-lg-2 col-md-2 publication-metadata__avatar"><!-- publication-metadata__avatar--editable -->
            <ui-avatar size="large" [isSquaric]="true" [avatarData]="{image:'http://via.placeholder.com/130x130', fullName: 'Cats'}"></ui-avatar>
            <!-- <div class="avatar avatar--large avatar--squaric">
                <img src="" alt="">
            </div> -->
            <!-- <i class="icon-close"></i> -->
        </div>
        <div class="col-lg-6 col-md-7 col">
            <h1 class="publication-metadata__title"><span>FRESCO</span><!-- <i class="icon-edit editable-icon"></i> --></h1>
            <h3 class="publication-metadata__description"><span>Daniel Borowski</span><!-- <i class="icon-edit editable-icon"></i> --></h3>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
            <ui-button icon="icon-settings" [iconButton]="true" iconClassName="settings"></ui-button>
            <!-- <div class="button button--primary">
                <i class="icon-follow"></i>
                <span>Follow</span>
            </div> -->
            <!-- <div class="button">
                <i class="icon-settings"></i>
                <span>Edit Profile</span>
            </div> -->
            <!-- <div class="button button--primary">Save</div> -->
            <!-- <div class="button">Cancel</div> -->
            <!-- <div class="button button--icon button--icon--small">
                <i class="icon-close"></i>
            </div> -->
        </div>
    </div>
    <div class="row publication-statistics">
        <div class="col-lg-8 offset-lg-2 col-12 offset-0">
            <div class="datum">
                <span class="datum__value">0</span>
                <span class="datum__descriptor">Views</span>
            </div>
            <div class="datum">
                <span class="datum__value">0</span>
                <span class="datum__descriptor">Stories</span>
            </div>
            <div class="datum">
                <span class="datum__value">0</span>
                <span class="datum__descriptor">Followers</span>
            </div>
            <div class="datum">
                <span class="datum__value">0</span>
                <span class="datum__descriptor">Members</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 tabber-container">
            <!-- <div class="button-tabber button-tabber--publication">
                <div class="button-tabber__item button-tabber__item--active">Stories</div>
                <div class="button-tabber__item">Followers</div>
                <div class="button-tabber__item">Members</div>
            </div> -->

            <ui-tab type="buttons" [tabs]="[{value: 'stories', text: 'Stories'}, {value: 'followers', text: 'Followers'}, {value: 'members', text: 'Members'}]" currentValue="members"></ui-tab>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="grid-style">
                    <div>
                        <h4>Grid style</h4>
                        <p>Choose the way your readers will see your stories.</p>
                    </div>
                    <div>
                        <i class="grid-icon grid-icon--selected icon-multi-grid"></i>
                        <i class="grid-icon icon-single-grid"></i>
                    </div>
                </div>
            </div>
    </div> -->
    <!-- <div class="row">
        <div class="stories col-12 col-lg-8 offset-lg-2">
            <div class="story story--grid story--coverless">
                <div class="story__image">
                    <span class="story__image__letter">W</span>
                </div>
                <div class="story__data">
                    <div class="story__tags">
                        <a href="#">2017</a>,
                        <a href="#">Developer</a>,
                        <a href="#">Fullstack</a>
                    </div>
                    <a href="#"><h4 class="story__title">A Guide to Becoming a Full-Stack Developer in 2017</h4></a>
                    <div class="story__meta">
                        <div class="avatar">
                            <span>DB</span>
                        </div>
                        <div class="story__meta-info">
                            <div class="story__meta-info__author">
                                <a href="#">Daniel Borowski</a>
                                <em>in</em>
                                <a href="#">Design planet</a>
                            </div>
                            <div class="story__meta-info__date">
                                <span>11 Dec 2018</span>
                                <div class="story__meta-info__views">
                                    <i class="icon-preview"></i>
                                    <span>1K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="story story--grid" spasm="6">
                <div class="story__image">
                    <img src="http://via.placeholder.com/400x250">
                    <div class="story__image__views">
                        <i class="icon-preview"></i>
                        <span>1K</span>
                    </div>
                    <div class="story__image__like">
                        <i class="icon-like"></i>
                    </div>
                </div>
                <div class="story__data">
                    <div class="story__tags">
                        <a href="#">2017</a>,
                        <a href="#">Developer</a>,
                        <a href="#">Fullstack</a>
                    </div>
                    <a href="#"><h4 class="story__title">A Guide to Becoming a Full-Stack Developer in 2017</h4></a>
                    <div class="story__meta">
                        <div class="avatar">
                            <span>DB</span>
                        </div>
                        <div class="story__meta-info">
                            <div class="story__meta-info__author">
                                <a href="#">Daniel Borowski</a>
                                <em>in</em>
                                <a href="#">Design planet</a>
                            </div>
                            <div class="story__meta-info__date">
                                <span>11 Dec 2018</span>
                                <div class="story__meta-info__views">
                                    <i class="icon-preview"></i>
                                    <span>1K</span>
                                </div>
                            </div>
                        </div>
                        <div class="story__meta-single-actions">
                            <div class="button button--icon">
                                <i class="icon-like"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 tab-heading tab-heading--members">
            <h2>Members</h2>
            <div class="tab-heading__inner">
                <i class="icon-search"></i>
                <input type="text">
            </div>
            <ui-button text="Invite Member"></ui-button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="followers col-12">
            <!-- <div spasm="2">
                <div class="user-card" spasm="6">
                    <div class="user-card__upper-menu button button--icon button--icon--xsmall">
                        <i class="icon-menu"></i>
                    </div>
                    <div class="user-card__image">
                        <div class="avatar avatar--large">
                            <img src="http://via.placeholder.com/90">

                            <div class="avatar__sub">
                                <div class="button button--icon button--icon--xsmall">
                                    <i class="icon-follow"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="user-card__name">Marti Valencia</h4>
                    <p class="user-card__role">Editor <i class="icon-arrow-up-stroke"></i></p>
                </div>
            </div> -->
            <div>
                <ui-user-single type="role" [userData]="{ user: { image: 'http://via.placeholder.com/120x120', first_name: 'John', last_name: 'Doe' }, isFollowing: false, followMember: true, slug: 'user_data' }" [userRoleData]="[{ 'value': 'Editor', 'slug': 'editor', 'status': false }, { 'value': 'Contributor', 'slug': 'contributor', 'status': true }]" *ngFor="let d of [1,2,3,4,5,6];"></ui-user-single>
            </div>
             <div>
                <ui-user-single type="role" [userData]="{ user: { image: 'http://via.placeholder.com/120x120', first_name: 'John', last_name: 'Doe' }, isFollowing: false, followMember: true, slug: 'user_data' }" [userRoleData]="[{ 'value': 'Editor', 'slug': 'editor', 'status': false }, { 'value': 'Contributor', 'slug': 'contributor', 'status': true }]" *ngFor="let d of [1,2,3,4,5,6];"></ui-user-single>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 requests-tabber">
            <!-- <div class="tabber">
                <div class="tabber__item">Requests <small>(2)</small></div>
                <div class="tabber__item">Pending</div>
            </div> -->
            <ui-tab type="navigation" [tabs]="[{value: 'requests', text: 'Requests', count: 2}, {value: 'pending', text: 'Pending'}]" currentValue="requests"></ui-tab>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 requests">
            <div class="requests__item" *ngFor="let d of [1,2,3,4,5,6,7,8,9];">
                <div class="requests__item__avatar">
                    <ui-avatar [avatarData]="{image: 'http://via.placeholder.com/90', fullName: 'Amolika Shaikh'}"></ui-avatar>
                </div>
                <div class="requests__item__name">
                    <h3>Amolika Shaikh</h3>
                </div>
                <div class="requests__item__actions">
                    <ui-button type="primary" text="Confirm"></ui-button>
                    <ui-button text="Delete"></ui-button>
                </div>
            </div>
            <!-- <ui-user-single type="pending" [userData]="{ user: { image: 'http://via.placeholder.com/120x120', first_name: 'John', last_name: 'Doe' }, isFollowing: false, followMember: true, slug: 'user_data' }" *ngFor="let d of [1,2,3,4,5,6,7,8,9];"></ui-user-single> -->
        </div>
    </div>
</div>
