mat-card.centered {
  min-width: 150px;
  max-width: 580px;
  width: 100%;
  display: flex;

  min-height: 190px;
  padding: 0 30px 30px 30px;
  margin: 10vh auto;
}
.acc-parent{
  //max-width: 460px;
  width: 100%;
  position: relative;
}
.inner-form{
  max-width: 780px;
  margin: 0 auto;
  padding: 0 30px 35px;
  h2{
    font-size: 16px;
    color: #565A60;
    font-weight: 300;
    margin: 0 0 20px;
    line-height: 1.4;
  }

  .small-container{
    display: flex;
    display: flex;
    >div{
      margin-right: 20px;
    }
  }

  .copy-address-input{
    .acc-id {
      //word-break: break-all;
      width: 100%;
      display: inline-block;
      border: none;
      min-height: 45px;
      padding:15px 35px 15px 15px;
      background: #ECF0F3;
      border-radius: 5px;
      font-size: 15px;
      color: #1F2742;
      position: relative;
      word-break: break-all;
      line-height: 1.4;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span{
      font-size: 14px;
      color: #2B2B2B;
      font-weight: 600;
      margin-bottom: 10px;
      display: block;
    }
    .copy-btn{
      position: absolute;
      top: 0;
      right: 0;
      width: 37px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #ECF0F3;
      border-radius: 5px;
      cursor: pointer;
      img{
        width: 24px;
      }
    }

  }
  .qr-code-parent{
    flex: 0 0 145px;
  }
  .qr-code-img{
    width: 145px;
    height: 145px;
    object-fit: contain;
  }
}
@media screen and (max-width: 767px){
  .inner-form{
    .small-container{
      flex-direction: column-reverse;
      align-items: center;
      .qr-code-img{
        margin-bottom: 25px;
      }
      >div{
        margin-right: 0;
      }
    }
    >div{
      margin: 0;
    }
    .acc-parent {
      max-width: 100%;
    }
  }
}
