<div class="container-fluid main-grid mb-5">
    <div class="mt-50 main">
        <div class="text-center row justify-content-between align-items-center no-gutters mb-3">
            <a class="more prev" (click)="previous()">
                <img src="../../../assets/img/arrow.svg" alt=""><span>{{moveDate(blockDate, -1) | date:'dd/MM/yyyy' }}</span>
            </a>
            <h2 class="mined-text">Blocks mined on: {{blockDate | date:'dd/MM/yyyy' }}</h2>

            <a class="more next" (click)="next()" *ngIf="blockDate < now(); else elseBlock">
                <span>{{moveDate(blockDate, 1) | date:'dd/MM/yyyy' }}</span>
                <img src="../../../assets/img/arrow.svg" alt="next"></a>
            <ng-template #elseBlock>
                <span style="width: 66px;"></span>
            </ng-template>
        </div>

        <div *ngIf="blocks.length">
            <app-block-list class="mb-5" [blocks]="blocks" *ngIf="blocks.length"></app-block-list>
            <div
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="1300"
                    (scrolled)="loadBlocks()">
            </div>

            <!--<div *ngIf="finished">-->
                <!--End of blocks...-->
            <!--</div>-->
        </div>

        <div *ngIf="loadingBlocks"
             class="row justify-content-center align-items-center spinner no-gutters">
            <mat-spinner></mat-spinner>
        </div>

        <div *ngIf="blocks.length == 0 && loadingBlocks == 0 && hasBeenLoaded">No results</div>
    </div>
</div>