<div class="container">
  <h2 class="page-title">Transactions</h2>
  <ng-container *ngIf="transactions">
    <div class="transactions-table" *ngIf="transactions.length">
      <ng-container *ngFor="let transaction of transactions">
        <div class="transaction-table-item">
            <div class="transaction-table-body transaction-ordinary-body">
              <div class="transaction-table_hash">
                <small>Hash</small>
                <a class="linked" href="#"
                   (click)="redirect($event, 't', transaction.transactionHash)">{{transaction.transactionHash}}</a>
              </div>
              <div class="transaction-table_amount">
                <small>{{utilService.isTransfer(transaction) ? 'Amount' : 'Fee'}}</small>
                <span>{{(utilService.isTransfer(transaction) ? transaction.transfer.amount.balance : transaction.feeAmount.balance) | number: '0.0-8'}}</span>
              </div>
              <div *ngIf="utilService.isTransfer(transaction)"  class="last-seen">
                <div class="transaction-table_from">
                  <a class="linked" href="#" (click)="redirect($event, 'a', transaction.transfer.from.address)">
                    {{transaction.transfer.from.address}}
                  </a>
                </div>
                <div class="transaction-table_arrow">
                  <img src="../../assets/img/arrow.svg">
                </div>
                <div class="transaction-table_to">
                  <a class="linked" href="#" (click)="redirect($event, 'a', transaction.transfer.to.address)">
                    {{transaction.transfer.to.address}}
                  </a>
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <div *ngIf="loadingBlocks"
       class="row justify-content-center align-items-center spinner no-gutters">
    <mat-spinner></mat-spinner>
  </div>

  <ng-container *ngIf="loadOnScroll && seeMoreChecker">
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [infiniteScrollDisabled]="blockInfiniteScroll"
      (scrolled)="seeMore()"
    ></div>
  </ng-container>

  <div class="no-tr text-center" *ngIf="!transactions || !transactions.length"><span>No transactions</span></div>
</div>