<mat-card class="centered" *ngIf="!loading">
    <div class="transfer-header">
        <mat-card-title>{{'wallet.transfer' | translate}} PBQ {{'wallet.testnet' | translate}}</mat-card-title>
    </div>
    <div class="transfer-description">{{'wallet.send_pbq_text' | translate}}</div>

    <mat-card-content>
        <form class="form" novalidate [formGroup]="transferForm" autocomplete="off">
            <div fxLayout="column">
                <!--AMOUNT INPUT-->
                <div class="transfer-input-container">
                    <p class="transfer-label">
                        <i class="icon-pbq"></i>{{'wallet.amount_to_send' | translate}}
                    </p>
                    <input matInput class="transfer-input" placeholder="PBQ {{'wallet.amount' | translate}}" name="amount"
                           formControlName="amount"
                           (keydown)="validate($event)"
                           (input)="validate($event)"
                           (focus)="focusFunction()"
                           />
                    <p class="error-msg" *ngIf="amountErrorMessage" fxLayout="row" [innerHTML]="amountErrorMessage"></p>
                </div>
                <!--ACCOUNT INPUT-->
                <div class="transfer-input-container">
                    <p class="transfer-label">
                        <i class="recipient-icon"></i>{{'wallet.recipient_address' | translate}}
                    </p>

                    <input matInput class="transfer-input" placeholder="{{'wallet.recipient_public_key' | translate}}" name="account" formControlName="account">
                </div>
                <!--PASSWORD INPUT-->
                <div class="transfer-input-container">
                    <p class="transfer-label">
                        <i class="password-icon"></i>{{'wallet.password' | translate}}
                    </p>

                    <input matInput class="transfer-input" placeholder="{{'wallet.password' | translate}}" type="password" name="password" formControlName="password">                </div>
            </div>
            <!--MEMO INPUT-->
            <div fxLayout="column" fxLayoutGap="20px">
                <div class="transfer-input-container">
                    <p class="transfer-label">
                        <i class="memo-icon"></i> {{'wallet.memo' | translate}}
                    </p>
                    <textarea matInput class="transfer-input transfer-textarea" maxlength="200" placeholder="{{'wallet.max_200' | translate}}" name="memo" formControlName="memo"></textarea>
                    <span class="character">{{memo.length}}/200 {{'wallet.characters' | translate}}</span>
                </div>
            </div>
        </form>
    </mat-card-content>
    <!--SUBMIT BUTTON-->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="generate-trans">
        <small><strong style="font-weight: 700">{{'wallet.transaction_fee' | translate}}: </strong> {{transferFee}} PBQ
        </small>
        <button mat-raised-button color="primary" [disabled]="transferForm.invalid" (click)="transfer()">{{'wallet.generate_transaction' | translate}}</button>
    </div>
</mat-card>

<mat-card class="centered" *ngIf="loading">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
</mat-card>
