<div class="container-fluid main-grid">
    <div class="mb-5">
        <div class="row no-gutters mb-3">
            <div class="col-md-6 col-12 mt-3">
                <h2>Latest Blocks</h2>
            </div>
        </div>

        <app-block-list *ngIf="blocks.length" class="mb-5" [blocks]="blocks"></app-block-list>

        <div *ngIf="loadingBlocks > 0" class="row justify-content-center align-items-center spinner no-gutters">
            <mat-spinner></mat-spinner>
        </div>

        <div class="row no-gutters align-items-center justify-content-center mb-3" *ngIf="!loading && seeMoreChecker">
            <button class="button button-fill text-uppercase font-weight-bold" routerLink="/block-navigation/date/{{today | date:'yyyy-MM-dd'}}">
                see more
            </button>
        </div>
    </div>
</div>


