
<div fxLayout="row" fxLayoutAlign="flex-end center">
    <mat-icon fxFlexAlign="flex-end" class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
</div>
<mat-card class="centered" *ngIf="!formSubmitted">
    <mat-card-title>{{'core.login' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'dialog.login.title' | translate }}</mat-card-subtitle>

    <mat-card-content>
        <form class="form" novalidate (ngSubmit)="authenticate()" [formGroup]="loginForm">
            <mat-form-field class="full-width">
                <input matInput formControlName="email" placeholder="{{'core.email' |translate}}" value="">
            </mat-form-field>

            <div>
                <app-control-message class="warning mb-4 h6" [control]="loginForm.controls['email']"></app-control-message>
            </div>

            <mat-form-field class="full-width">
                <input matInput formControlName="password" placeholder="{{'core.password' | translate}}" type="password" value="">
            </mat-form-field>

            <mat-card-actions class="ml-0 mt-2">
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid">{{'core.login' | translate}}</button>
                <button mat-raised-button (click)="recover()">{{'core.restore' | translate}}</button>
            </mat-card-actions>

        </form>
    </mat-card-content>
</mat-card>

<mat-card class="centered" *ngIf="formSubmitted">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
</mat-card>
