<div [ngSwitch]="action" class="info-container">

    <div *ngSwitchCase="'show-private-key'" class="backup-private-key">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h3>{{title}}</h3>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>
        <div *ngIf="!passwordVerified">
            <p [innerHTML]="message" class="message"></p>

            <input (focus)="focusFunction()"
                   (keyup)="keyupFunc($event, 'generatePrivateKey')"
                   type="password" [(ngModel)]="password"
                   class="mail-input"
                   placeholder="{{'dialog.security.password_placeholder' | translate}}">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="generatePrivateKey()" class="submit-button mt-3" [disabled]="passwordValidator()">{{'dialog.security.button_continue' | translate}}</button>
        </div>

        <!--<div *ngIf="passwordVerified">-->
            <!--<p class="pr-key-msg">{{'dialog.security.p_k_password_message' | translate}}</p>-->

            <!--<div class="private-key-container">-->
                <!--{{decriptedPrivateKey}}-->
            <!--</div>-->
        <!--</div>-->
    </div>

</div>
