<div class="session-page">
  <div class="centered restore-form session-form" *ngIf="!isPasswordMode">
      <h1>Reset Password</h1>
      <h2>Enter your Recovery phrase to create a new password </h2>
      <!--<button routerLink="/user/login">-->
            <!--<span class="close-btn">-->
                <!--<span class="close-span"></span>-->
                <!--<span class="close-span"></span>-->
            <!--</span>-->
      <!--</button>-->

    <div *ngIf="!loading" class="restore-content">

      <textarea [(ngModel)]="brainKey" (keyup)="focusFunction()"></textarea>

      <div><span class="text-error" *ngIf="brainKeyError">{{brainKeyError}}</span></div>

        <button class="submit-button" [disabled]="!brainKey" type="submit" (click)="checkBrainKey()">
          Next
        </button>

      <p class="have-wallet"><a href="" routerLink="/user/login">Back</a></p>

    </div>
  <mat-card class="centered mat__spinner" *ngIf="loading" >
    <mat-spinner class="centered"style="margin: 50px auto;"></mat-spinner>
  </mat-card>
  </div>


  <app-new-password [brainKey]="brainKey" [stringToSign]="stringToSign" *ngIf="isPasswordMode"></app-new-password>
</div>
