<div class="container">
  <div class="row">
    <div class=" offset-lg-2 col-lg-8 col-xl-9">
      <form class="form" (ngSubmit)="openDialogSubmission()" [formGroup]="contentForm">

        <div class="post-field">
          <!--title-->
          <div class="post-field__areas" #title>
              <textarea (keydown.enter)="$event.preventDefault()"
                        formControlName="title"
                        placeholder="{{'content.title' | translate}}" rows="1" [maxlength]="titleMaxLenght"
                        (input)="characterCounter()">
              </textarea>
          </div>
          <!--content-->
          <div style="position: relative;" #content id="editor-froala">
            <textarea *ngIf="isBrowser" [froalaEditor]="contentOptions" rows="10" formControlName="content" required
                      (froalaInit)="initFroala($event)"></textarea>
          </div>
        </div>

        <div class="post-field-fixed">
          <button class="button--publish" (click)="onSubmitButton(true)" [ngClass]="{'animate' : showBoost === true}" >
            <span class="visible--span">Publish</span>
            <i class="icon-arrow-link"></i>
            <!--TODO: tooltip-->
            <span class="custom-tooltip" *ngIf="false">
              You need to write something before publish!
            </span>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="publishing-space">
  <div id="publishMain" [ngClass]="{'visible' : showBoost === true}" class="publish__main">
    <span class="close-icon" (click)="onSubmitButton(false)"><i class="icon-close" ></i></span>
    <div class="publish__main--white-space">
      <h3>Preview</h3>
      <!--FOR ADDING OR CHANGING COVER PIC -->
      <div class="add__cover">
        <p>Add cover image for your story to attract more readers</p>
        <label class="cover__img" for="coverPic">
          <input type="file" accept="image/jpeg,image/png" id="coverPic">
          <i class="icon-picture"></i>
          <span>Add cover</span>
        </label>
      </div>

      <!--story grid look with image-->
      <ui-content-single className="boost-post" type="grid" [contentData]="boostPostData"></ui-content-single>
    </div>
    <div class="publish__main--blue-space">
      <h3>Prepare your story readers</h3>
      <p>Are you sure you want to proceed?</p>

      <div class="add-tag">
        <span class="add-tag__label">Add Tags</span>
        <ui-input></ui-input>

        <span class="add-tag__label">Add Tags</span>
        <ui-dropdown *ngIf="boostDropdownData" [optionsData]="boostDropdownData" [type]="'withIcon'"></ui-dropdown>

      </div>
      <span class="continue-later">Continue Later</span>
    </div>
    <!--<span class="white-overlay" (click)="onSubmitButton(false)"></span>-->

  </div>
</div>


