@import url(../../../../../../node_modules/froala-editor/css/froala_editor.pkgd.min.css);
@import url(../../../../../../node_modules/froala-editor/css/froala_style.min.css);
@import url(../../../assets/css/swiper.min.css);
app-newcontent {
  .create-content {
    font-family: "Open Sans", sans-serif;

    .hasError {
      .fr-placeholder,
      .mat-form-field-label {
        &:before {
          content: '* ';
          color: #D43E3A;
        }
      }
    }

    .post-cover {
      background-color: #eee;
      min-height: 480px;
      position: relative;

      .post-cover-wrapper {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        padding: 0 15px;

        a:hover{
          color: #3365ff;
          text-decoration: none;
        }
      }

      &.has-photo {
        color: #fff;

        textarea,
        .date-n-views {
          color: #fff !important;
        }

        .hint {
          color: #fff !important;
        }

        .demo-chip-list {
          .mat-chip-list-wrapper {
            //margin-top: 8px;
          }
          label {
            color: #fff !important;
          }
        }

        .post-title,
        .headline {
          label {
            color: #fff !important;
          }
        }
      }

      swiper {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #eee;
        z-index: 0;

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.25);
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          pointer-events: none;
        }

        div.swiper-slide {
          background-size: cover;
          background-position: center;
        }
      }

      > div {
        display: flex;

        .author-avatar {
          flex: 0 0 70px;

          .avatar {
            border-radius: 50%;
            overflow: hidden;
            width: 50px;
            height: 50px;
            background: #3366ff;
            position: relative;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 23px;
            text-indent: -1px;
            background-size: cover;
          }
        }

        .post-metadata {
          flex: 1 0;

          .mat-form-field-underline {
            display: none;
          }

          .account-name {
            min-height: 50px;

            h4 {
              font-size: 24px;
              text-transform: uppercase;
              margin-top: 13px;
            }

            .post-image-actions {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              >div{
                padding-right: 8px;
                .camera-span{
                  position: relative;
                  &:after {
                    content: attr(data-hint);
                    font-family: 'Open Sans', sans-serif;
                    color: #4C4C4C;
                    position: absolute;
                    left: 50%;
                    top: 42px;
                    line-height: 18px;
                    background: white;
                    border-radius: 4px;
                    font-size: 14px;
                    padding: 9px 16px;
                    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.12);
                    min-width: 170px;
                    text-align: center;
                    transform: translate(-50%, 0);
                    transition: .2s ease;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;
                  }
                  &:before{
                    content: '';
                    width: 0;
                    height: 0;
                    left: 50%;
                    bottom: -20px;
                    border-left: 13px solid transparent;
                    border-right: 13px solid transparent;
                    border-bottom: 7px solid white;
                    position: absolute;
                    transform: translate(-50%, 0);
                    transition: .2s ease;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 3;
                  }
                  &:hover:after,
                  &:hover:before{
                    opacity: 1;
                    transition: .2s ease;
                    visibility: visible;
                  }
                }


              }

              .hint {
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                color: #9e9e9e;
              }

              i {
                margin: 0 4px;
                color: #757575;
              }

              mat-slide-toggle {
                position: relative;
                margin-left: 8px;
              }
            }
          }
          .mat-chip-list-wrapper .mat-standard-chip{
            width: auto;
          }
          .post-title {
            font-size: 45px;
            padding: 0;
            width: 100%;
            transition: font-size 0.2s;

            label {
              color: #A6A6A6;
              font-size: 45px;
            }

            &.mat-form-field-should-float {
              label {
                font-size: 18px;
              }
            }

            .post-title-hint {
              font-size: 10px;
              .exceeded {
                color: red;
              }
            }
          }

          textarea {
            font-family: "Open Sans", sans-serif;
            background: transparent;
            border: none;
            padding: 0;
            color: #ccc;
            outline: none;
            flex: 1 0;
            resize: none;
            overflow-y: hidden;
            font-size: 16px;
            font-weight: normal;

            &::-webkit-input-placeholder {
              color: #ccc;
            }
          }

          .demo-chip-list {
            padding: 0;
            label {
              color: #757575;
            }
            .mat-form-field-label-wrapper{
              padding-top: 20px;
              font-weight: 300;
            }
            .mat-input-underline {
              display: none;
            }
          }

          .date-n-views {
            padding: 0;
            font-size: 16px;
            color: #A6A6A6;
            text-transform: uppercase;
            font-weight: 300;
            i,
            span {
              vertical-align: middle;
            }

            i:not(:first-of-type) {
              margin: 0 5px 0 15px;
            }
          }
        }
      }
    }

    .post-list {
      background-color: #eee;

      &:not(.has-photo) {
        min-height: 300px;
      }

      &.has-photo {
        color: #fff;

        textarea,
        .date-n-views {
          color: #fff !important;
        }
      }
    }
    .fixed-positioned{
      position: fixed;
      bottom: 0;
      background: rgba(255, 255, 255, 0.96);
      min-height: 80px;
      padding: 10px;
      width: 100%;
      left: 0;
      margin: 0;
      z-index: 12;
      border-top: 1px solid #EEEEEE;
      .mat-form-field-wrapper {
        padding-bottom: 14px;
      }

      .publish-buttons{
        max-width: 1190px;
        margin: 0 auto;
        padding: 10px 20px 10px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .publish, .publish-2{
        display: flex;
        align-items: center;
        flex: 1;
        button{
          margin-right: 12px;
        }
        .icon-info {
          margin-right: 16px;
          cursor: pointer;
          vertical-align: middle;
          color: #757575;
        }
        .continue-btn{
          margin-right: 0;
        }
        .choose-publication{
          padding: 4px 0 0 14px;
          justify-content: center;
          height: 38px;
          display: flex;
          align-items: center;
          background: #F8F8F8;
          border-radius: 2px;
        }
        mat-option.selected-option{
          color: #757575;
        }
        mat-select .mat-select-value{
          width: 89%;
        }
        .mat-select-value-text{
          color: #757575;
        }
      }
      .publish-2{
        flex: 1;
        button{
          color: #757575;
        }
        .publish-supporter{
          margin-left: auto;
        }
      }
    }
    .tag-icon{
      vertical-align: middle;
      margin: 0 14px 0 0;
      position: relative;
      font-size: 20px;
    }

    .post-main-content {
      max-width: 1200px;
      width: 100%;
      margin: auto;
      padding: 0 9px 0 70px;
      margin-bottom: 210px;

      a:hover{
        color: #3365ff;
        text-decoration: none;
      }

      hr{
        margin-top: 3rem;
      }
      .thumb{
        img {
          width: 100%;
        }
      }
      .mat-form-field-underline {
        display: none;
      }

      .fr-element {
        p {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          line-height: 28px;
          margin-bottom: 20px;
        }

        i,
        em {
          font-style: italic !important;
        }
        b,
        strong {
          font-weight: 700 !important;
        }

        h2, h3, h4 {
          display: block;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
        }

        h2 {
          font-size: 1.5rem;
          margin-top: 0.83rem;
          margin-bottom: 0.83rem;
        }

        h3 {
          font-size: 1.17rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 1rem;
          margin-top: 1.33em;
          margin-bottom: 1.33em;
        }


        ul, ol {
          list-style: unset;
          margin: 1rem 0;
          padding-left: 2.5rem;

          li {line-height: 1.75rem;}
        }

        ul {
          list-style-type: disc;
          list-style-position: inside;
        }

        ol {
          list-style-type: decimal;
          list-style-position: inside;
        }

        blockquote {
          border-left: solid 2px #555 !important;
          border-color: #555 !important;
          color: #555 !important;
          margin-left: 0;
          padding-left: 15px;
          font-style: italic;
        }

        .fr-video {
          video {
            width: 100%;
          }
          span {
            display: block;
            margin: auto;
            padding: 5px 5px 10px;
            font-size: 14px;
            font-weight: initial;
            max-width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-opacity: 0.9;
            -moz-opacity: 0.9;
            opacity: 0.9;
            -ms-filter: "alpha(Opacity=0)";
          }

          &:after {
            bottom: 50px !important;
          }
        }
      }
      .fr-wrapper .fr-placeholder{
        font-size: 16px;
        color: #757575;
      }

      .post-headline {
        font-size: 16px;
        padding: 0;
        width: 100%;

        textarea {
          resize: none;
          overflow-y: hidden;
          //height: auto!important;
          min-height: 20px;
          font-family: 'Open Sans', sans-serif;
        }

        label {
          color: #757575;
          font-family: 'Open Sans', sans-serif;
        }
        .mat-input-underline {
          display: none;
        }
        .post-headline-hint {
          font-size: 10px;
          .exceeded {
            color: red;
          }
        }
      }

      .list-item {
        max-width: 360px;
        width: 100%;
        margin: 0;

        h2 {
          word-break: break-all;
          word-wrap: break-word;
        }

        .post-sidebar-actions {
          display: flex;
          font-size: 14px;

          div:nth-child(1) {
            flex: 1;
            padding: 4px 0;
            font-size: 16px;
            color: #4C4C4C;
            font-weight: 600;
          }
          div:nth-child(2) {
            flex: 0 100px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .camera-span{
              position: relative;
              &:after {
                content: attr(data-hint);
                font-family: 'Open Sans', sans-serif;
                position: absolute;
                left: 50%;
                top: 38px;
                line-height: 18px;
                background: white;
                border-radius: 4px;
                box-shadow: 0 4px 16px 0 rgba(0,0,0,0.12);
                font-size: 14px;
                padding: 9px 16px;
                min-width: 170px;
                text-align: center;
                transform: translate(-50%, 0);
                transition: .2s ease;
                opacity: 0;
                visibility: hidden;
                color: #4C4C4C;
                z-index: 2;
              }
              &:before{
                content: '';
                width: 0;
                height: 0;
                left: 50%;
                bottom: -20px;
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                border-bottom: 7px solid white;
                position: absolute;
                transform: translate(-50%, 0);
                transition: .2s ease;
                visibility: hidden;
                opacity: 0;
                z-index: 3;
              }
            }
            &:hover .camera-span:after, &:hover .camera-span:before{
              opacity: 1;
              transition: .2s ease;
              visibility: visible;
            }

            i {
              margin: 0 5px;
              position: relative;
              vertical-align: baseline;
              color: #757575;
            }

            mat-slide-toggle {
              margin-left: 4px;
            }
          }
        }

        .post-sidebar-hint {
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          color: #9e9e9e;
          margin-bottom: 16px;
          margin-left: 2px;
        }

        .time-views {
           display: flex;
          justify-content: space-between;
          width: 100%;
          &.item-view{
            display: flex;
            flex-direction: column;
            >div{
              display: flex;
              justify-content: space-between;
            }
            p.sponsored{
              padding: 0;
            }
          }

          span {
            float: none;
          }
        }

        .sidebar-input {
          display: block;
          margin: 10px 0;
          width: 100%;
          border: none;
          font-style: italic;
          font-size: 16px;
        }


        .thumb-overlay,
        .time-views {
          pointer-events: none;
          z-index: 2;
        }

        swiper {
          width: 100%;
          transition: height 0.4s;

          div.swiper-slide {
            background-size: cover;
            background-position: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .post-editor-hint {
        font-size: 10px;
        display: flex;
        float: right;
      }
    }
    .pointer {
      cursor: pointer;
    }

    .publish-buttons {
      button {
        margin-right: 10px;
      }
    }
  }

  .active-caption {
    color: #1e88e5 !important;
    background: 0 0 !important;
  }
}
.checked-for-adl{
  input{
    width: 20px!important;
    margin: 0 8px 0 5px;
    height: 16px;
  }
  span{
    font-size: 14px;
    color: #4C4C4C;
  }
}

.input-space{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  input{
    border: none;
    font-family:'Roboto', sans-serif;
    width: 100%;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.42);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.42);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(0, 0, 0, 0.42);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(0, 0, 0, 0.42);
    }
  }
  .margin-12{
    margin-top: 12px;
  }
  b{
    font-weight: bold;
    margin: 1.5rem 0 .5rem;
    cursor: default;
    color: rgba(0, 0, 0, 0.52);
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0;
  }
}
.edit-cover{
  font-size: 18px;
  margin: 0 0 0 5px;
  cursor: pointer;
}
.story-page mat-dialog-container .info-container{
  position: unset;
  transform: none;
}

.draft_saved{
  font-size: 14px;
  color: #757575;
  margin-right: 10px;
  font-weight: 300;
}
@media screen and (max-width: 1250px) and (min-width: 575px){
  app-newcontent .create-content .post-main-content .list-item .post-sidebar-actions div:nth-child(2) .camera-span:after,
  app-newcontent .create-content .post-cover > div .post-metadata .account-name .post-image-actions > div .camera-span:after{
    transform: translate(-65%, 0);
  }
}
@media screen and (max-width: 574px){
  app-newcontent .create-content .post-cover > div .post-metadata .account-name .post-image-actions > div{
    margin-top: 16px;
    .camera-span:after{
      transform: translate(-20%, 0);
    }
  }
  .fixed-positioned .mat-form-field-infix{
    width: 140px;
  }
  app-newcontent .create-content .post-main-content .list-item .post-sidebar-actions div:nth-child(2) .camera-span:after{
    transform: translate(-65%, 0);
  }

  app-newcontent .create-content .fixed-positioned .publish mat-select .mat-select-value{
    width: 86%;
  }

}
.open-fields{
  padding-left: 30px;
}

@media screen and (max-width: 991px){
  app-newcontent .create-content .post-main-content{
    padding-left: inherit;
  }
  .post-field{
    padding: 0 54px;
    //.editor-froala, app-newcontent .create-content .post-main-content .post-headline{
    //  margin-left: 34px;
    //}
  }
  .input-space{
    padding: 0 7px;
  }
  app-newcontent .create-content .fixed-positioned .publish-buttons{
    flex-direction: column;
    padding-left: 15px;
    .publish, .publish-2{
      width: 100%;
    }
    .publish-2{
      button{
        margin: 10px;
        font-size: 12px;
      }
      .publish-supporter{
        margin: 2px;
      }
    }
  }
  .for-adults{
    width: 100%;
  }
}
.tag-photo:before{
  color: white;
}
.add-source{
  vertical-align: middle;
  transition: .3s ease;
  color: #A6A6A6;
  margin-right: 8px;
}

.source-span{
  vertical-align: middle;
  font-size: 14px;
  color: #4C4C4C;
  font-weight: 400;
}

