<div class="inner-wrap article-list-wrap" style="margin-top: 0;">
    <div class="article-list masonry" #grid>
        <div class="masonry-stamp masonry-stamp-1" *ngIf="homepageGrid"></div>
        <div class="masonry-stamp masonry-stamp-2" *ngIf="homepageGrid"></div>
        <div class="masonry-item" *ngFor="let article of articles | slice:(homepageGrid ? 6 : 0); let i = index;">
            <ng-container *ngIf="article.meta.title">

                <div class="" [ngClass]="{'no-image':(hasThumbImage(article) == false), 'list-item': true, 'masonry-brick':true}">
                  <a   (click)="removeArticle(article?.ds_id, $event)" *ngIf="canDelete && !article.boosted" class="delete-story">
                  <img src="../../../assets/delete-black.svg" alt="delete">
                  </a>
                    <h3 *ngIf="hasThumbImage(article) == false" class="mb-3">
                        <a *ngFor="let tag of article.meta.displayTags; let lastTag = last;" routerLink="/t/{{tag}}">{{
                            tag }}{{lastTag ? '' : ', '}}</a>
                    </h3>

                    <!--<a routerLink="/s/{{article.ds_id}}" [name]="article.meta.title">-->
                    <a (click)="redirect(article)" [name]="article.meta.title">
                        <div class="thumb-wrap" *ngIf="hasThumbImage(article)" lazy-load-images>
                            <div class="thumb-overlay"></div>

                            <img *ngIf="article.meta" [alt]="article.meta.title" [src]="defaultImage" [attr.data-src]="getImage(article)"
                                 (load)="reloadGrid()" (error)="setDefaultThumbImage(article)" class="thumb">

                            <div class="time-views views-w-image">
                              <div>
                                <span>
                                    <i class="icon-uploaded"></i>
                                  {{article.created | date:'d'}}
                                  {{('months.' + (article.created | date:'MMM')) | translate}}
                                  {{thisYear != (article.created | date: ' y') ? (article.created | date: ' y') : ''}}, 
                                  {{article.created | date: 'HH:mm'}}
                                </span>
                                <span *ngIf="article.viewcount !== undefined">
                                    <i class="icon-views"></i>{{article.viewcount}}
                                </span>
                              </div>
                              <p *ngIf="article.boosted" class="sponsored">{{'shared.sponsored' | translate}}</p>
                            </div>
                        </div>

                        <div *ngIf="hasThumbImage(article) == false" class="thumb">
                            <img src="/assets/no-image-article.jpg" [alt]="article.meta.title" class="thumb">
                            <span class="vh-centered">{{ article.meta.title.substr(0, 1).toLowerCase() }}</span>
                        </div>
                    </a>

                    <h3 *ngIf="hasThumbImage(article)">
                        <a *ngFor="let tag of article.meta.displayTags; let lastTag = last;" routerLink="/t/{{tag}}">{{
                            tag }}{{lastTag ? '' : ', '}}</a>
                    </h3>

                    <!--<h2><a routerLink="/s/{{article.ds_id}}">{{article.meta.title}}</a></h2>-->
                    <h2>
                        <a (click)="redirect(article)">{{article.meta.title}}</a>
                    </h2>
                    <div class="author">
                        <div class="avatar" [ngStyle]="{'background-image': checkImageHashExist(article) ? 'url('+ (article.full_account.meta.image_hash | HTTPS) +')' : 'none'}">
                            <span *ngIf="checkImageHashExist(article) == false" class="vh-centered">{{article?.full_account?.shortName}}</span>
                        </div>
                        <a routerLink="/a/{{article?.full_account?.name}}">{{article?.full_account?.firstName}} {{article?.full_account?.lastName}}</a>

                        <span *ngIf="article?.publication"> {{'shared.in' | translate}} </span>
                        <a (click)="goToPublicationPage(article.publication?.slug)"> {{article.publication?.title}}</a>

                    </div>
                    <!--<a routerLink="/s/{{article.ds_id}}">-->
                    <a (click)="redirect(article)">
                        <div class="thumb-wrap" *ngIf="hasThumbImage(article) == false">
                            <div class="time-views">
                                <span>
                                    <i class="icon-uploaded"></i>
                                    {{article.created | date:'d'}}
                                    {{('months.' + (article.created | date:'MMM')) | translate}}
                                    {{thisYear != (article.created | date: ' y') ? (article.created | date: ' y') : ''}}, 
                                    {{article.created | date: 'HH:mm'}}
                                </span>
                                <span *ngIf="article.viewcount !== undefined">
                                    <i class="icon-views"></i>{{article.viewcount}}</span>
                            </div>
                          <p *ngIf="article.boosted" class="sponsored">{{'shared.sponsored' | translate}}</p>
                        </div>
                    </a>

                </div>
            </ng-container>
        </div>
        <!--END CARDS-->
    </div>
</div>

<div *ngIf="articles && articles.length && hasSeparator" class="content-wrap separation-block">
    <div class="inner-wrap">
        <br clear="all">
    </div>
</div>
