<div class="modal-overlay">
  <div class="custom-modal">
    <span class="custom-modal__close" (click)="closePopup(false)">
      <i class="icon icon-close"></i>
    </span>

    <h3>Create New Publication</h3>
    <form class="create-form">
      <span class="create-form__label">Name</span>
      <ui-input [type]="'text'" [className]="'create-form__input'" [placeholder]="'Type your publication name'"></ui-input>

      <span class="create-form__label">Description</span>
      <ui-input [type]="'text'" [className]="'create-form__input'" [placeholder]="'Type a short description'"></ui-input>

      <span class="create-form__label">Tags</span>
      <ui-input [type]="'text'" [className]="'create-form__input'" [placeholder]="'Type a tag…'"></ui-input>

      <!--upload avatar-->
      <div class="create-form__upload">
        <label class="create-form__upload__pic" for="publicationAvatar">
          <input type="file" accept="image/jpeg,image/png" id="publicationAvatar">
          <span class="create-form__upload__pic__icon">
            <i class="icon icon-plus"></i>
          </span>
          <img class="uploaded-pic" src="https://imgix.bustle.com/elite-daily/2017/05/08090817/joey-friends-shocked-face-theory.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format&q=70" alt="">
        </label>
        <span class="create-form__upload__text">
          <b *ngIf="false">Upload avatar</b>
          <b class="blue">Remove avatar</b>
          <span>(Up to 1MB, 288px by 288px recommended)</span>
        </span>
      </div>
      <!--upload cover-->
      <div class="create-form__upload">
        <label class="create-form__upload__pic" for="publicationCover">
          <input type="file" accept="image/jpeg,image/png" id="publicationCover">
          <span class="create-form__upload__pic__icon">
            <i class="icon icon-plus"></i>
          </span>
          <img *ngIf="false" class="uploaded-pic" src="https://imgix.bustle.com/elite-daily/2017/05/08090817/joey-friends-shocked-face-theory.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format&q=70" alt="">
        </label>
        <span class="create-form__upload__text">
          <b>Upload avatar</b>
          <b *ngIf="false" class="blue">Remove avatar</b>
          <span>(Up to 1MB, 288px by 288px recommended)</span>
        </span>
      </div>

      <div class="create-form__button-space">
        <ui-button [size]="'large'" [className]="'modal-button'" [text]="'Cancel'"></ui-button>
        <ui-button [size]="'large'" [className]="'modal-button'" [type]="'primary'" [text]="'Create'"></ui-button>

      </div>
    </form>
  </div>
</div>
