<div class="signinup__inner signinup__inner--create-password">
  <div *ngIf="tokenCheckStatus == TokenCheckStatusEnum.Success && showPhase">
    <h3>Create your password</h3>
    <p>
      This password encrypts your Private Key and gives you access to your account.
    </p>
    <form class="form" novalidate [formGroup]="configForm">
      <ui-input [type]="'password'" formControlName="password" [className]="'mail-input'" [inputId]="'password'"
                [placeholder]="'user.new_password' | translate"></ui-input>
      <ui-input [type]="'password'" formControlName="confirmPassword" [className]="'mail-input'" [inputId]="'confirm_password'"
                [placeholder]="'user.confirm_password' | translate"></ui-input>

      <!--<b>Pecovery phrase</b>-->
      <!--<div class="create-password&#45;&#45;recovery-phrase"></div>-->
      <!--<div class="create-password&#45;&#45;text signinup__inner&#45;&#45;create-password&#45;&#45;text">-->
        <!--<img src="../../../assets/icons/close.svg" alt="">-->
        <!--<span>Please save your recovery phrase in a secure place. It is the ONLY WAY to recover your account.</span>-->
      <!--</div>-->

      <ui-button [disabled]="!configForm?.valid" [className]="'button button--large button--primary button--full-radius'"
                 [text]="'user.register' | translate " [type]="'ordinary'" [size]="'large'"
                 (btnClicked)="onSubmit()"></ui-button>

      <app-control-message [control]="configForm"></app-control-message>
      <app-control-message [control]="configForm.controls['password']"></app-control-message>
      <p class="error-message" *ngIf="registerError">{{registerError}}</p>
    </form>
  </div>
  <div *ngIf="!showPhase" class="phase">
    <h3>Recovery Phase</h3>
    <div class="phase__container">
      termen morphic stigma loquent organ wakonda tightly unlet taiga bonedog unvicar portify pyin sheave ravin caffeol
    </div>
    <div class="phase__footer--top">
      <div>
        <i class="icon-info"></i>
      </div>
      <div>
        Please save your recovery phrase in a secure place. It is the ONLY WAY to recover your account.
      </div>
    </div>
    <div class="phase__footer">
      <ui-button [className]="'button button--large button--primary button--full-radius'" [type]="'ordinary'" [size]="'large'" (btnClicked)="doneRegistration()" [text]="'Done'"></ui-button>
    </div>
  </div>
</div>
