<div class="signinup__inner signinup__inner--create-password">
  <div *ngIf="tokenCheckStatus == TokenCheckStatusEnum.Success">
    <h3>Create your password</h3>
    <p>
      This password encrypts your Private Key and gives you access to your account.
    </p>
    <form class="form" novalidate [formGroup]="configForm">
      <ui-input [type]="'password'" formControlName="password" [className]="'mail-input'" [inputId]="'password'"
                [placeholder]="'user.new_password' | translate"></ui-input>
      <ui-input [type]="'password'" formControlName="confirmPassword" [className]="'mail-input'" [inputId]="'confirm_password'"
                [placeholder]="'user.confirm_password' | translate"></ui-input>

      <b>Pecovery phrase</b>
      <div class="create-password--recovery-phrase"></div>
      <div class="create-password--text signinup__inner--create-password--text">
        <img src="../../../assets/icons/close.svg" alt="">
        <span>Please save your recovery phrase in a secure place. It is the ONLY WAY to recover your account.</span>
      </div>

      <ui-button [disabled]="!configForm?.valid" [className]="'button button--large button--primary button--full-radius'"
                 [text]="'user.register' | translate " [type]="'ordinary'" [size]="'large'"
                 (btnClicked)="onSubmit()"></ui-button>

      <app-control-message [control]="configForm"></app-control-message>
      <app-control-message [control]="configForm.controls['password']"></app-control-message>
      <!--<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>-->
    </form>
  </div>
</div>
