<div [ngSwitch]="action" class="info-container">

    <div *ngSwitchCase="'backup-private-key'" class="backup-private-key">

        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h3>{{title}}</h3>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div *ngIf="!passwordVerified">
            <p [innerHTML]="message" class="message"></p>

            <input (focus)="focusFunction()" (keyup)="keyupFunc($event, 'generatePrivateKey')" type="password" [(ngModel)]="password" class="mail-input"
                   placeholder="Password">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="generatePrivateKey()" class="submit-button mt-3" [disabled]="passwordValidator()">Continue
            </button>
        </div>

        <div *ngIf="passwordVerified">
            <p class="message">Private key is a secret key. It is the only way to decrypt the encrypted data. You might need this to transfer your funds to other wallets</p>

            <div class="private-key-container">
                {{decriptedPrivateKey}}
            </div>

            <div class="checkbox-container">
                <label><input type="checkbox" class="regular-checkbox" (change)="confirmChanged($event)">
                    <span class="checkbox-text"> I have copied and saved the Private Key exactly as it is written in a secure folder.</span></label>
            </div>

            <div class="text-right">
                <button class="submit-button mt-3" [disabled]="!confirmClicked" (click)="setPrivateKeySaved()">Confirm</button>
            </div>
        </div>

    </div>

    <div *ngSwitchCase="'later-seen-confirmation'" class="backup-private-key">

        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h3>{{title}}</h3>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div>
            <p class="message">Are you sure you want to postpone your Recovery Phrase backup?</p>
            <div class="keys-text">In case you press "Yes" and forget your password until next login, there will be no way to restore your wallet</div>

            <div class="btn-div">
                <button (click)="onCloseCancel()" class="submit-button mt-3">NO</button>
                <button (click)="confirmRecoveyPhraseSeen()" class="submit-button mt-3">YES</button>
            </div>

        </div>
    </div>

    <div *ngSwitchCase="'backup-recovery-phrase'" class="backup-private-key">

        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h3>{{title}}</h3>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div *ngIf="!passwordVerified">
            <p [innerHTML]="message" class="message"></p>

            <input (focus)="focusFunction()" (keyup)="keyupFunc($event, 'decryptBK')" type="password" [(ngModel)]="password" class="mail-input"
                   placeholder="Password">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="decryptBK()" class="submit-button mt-3" [disabled]="passwordValidator()">Continue</button>

        </div>

        <div *ngIf="passwordVerified">
            <div *ngIf="recoveryPhrasechecking">
                <p class="message pr-key-msg">This is the only way to reset your password! Your PBQ tokens can’t be recovered without it.</p>

                <div class="private-key-container">
                    {{oauthService.brainKey}}
                </div>

                <div class="submit-container text-right mt-3">
                    <button class="submit-button next-button" (click)="recoveryPhrasechecking = false" type="button">Next</button>
                </div>
            </div>

            <div class="recovery-verify-steps" [hidden]="recoveryPhrasechecking">
                <div fxLayout="row" fxLayoutAlign="flex-start center">
                    <i class="icon-padlock"></i>
                    <p class="pr-key-msg">Please enter the words from your recovery Phrase in the required order.</p>
                </div>

                <form [formGroup]="checkingFormGroup" (ngSubmit)="onSubmit()">
                    <div fxLayout="row" fxLayout.lt-sm="column" class="verify-inputs-container">
                        <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                            <input class="mail-input" (focus)="focusFunction()" formControlName="first"
                                   [attr.index]="checkingPhrasesArray[0]" #firstInput required>
                            <span>Word {{checkingPhrasesArray[0] + 1}}</span>
                        </div>
                        <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                            <input class="mail-input" (focus)="focusFunction()" formControlName="second"
                                   [attr.index]="checkingPhrasesArray[1]" #secondInput required>
                            <span>Word {{checkingPhrasesArray[1] + 1}}</span>
                        </div>
                        <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                            <input class="mail-input" (focus)="focusFunction()" formControlName="third" #thirdInput
                                   [attr.index]="checkingPhrasesArray[2]" required>
                            <span>Word {{checkingPhrasesArray[2] + 1}}</span>
                        </div>
                        <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                            <input class="mail-input" (focus)="focusFunction()" formControlName="fourth" #fourthInput
                                   [attr.index]="checkingPhrasesArray[3]" required>
                            <span>Word {{checkingPhrasesArray[3] + 1}}</span>
                        </div>
                    </div>
                    <div style=" display: flex; align-items: center;justify-content: flex-end;
    padding-right: 4px;">
                        <span class="text-error" *ngIf="incorrectRecoverPhrase">{{incorrectRecoverPhrase}}</span>
                        <div class="submit-container">
                            <button class="submit-button" [disabled]="!checkingFormGroup.valid" type="submit">Finish
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'show-private-key'" class="backup-private-key">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h3>{{title}}</h3>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>
        <div *ngIf="!passwordVerified">
            <p [innerHTML]="message" class="message"></p>

            <input (focus)="focusFunction()" (keyup)="keyupFunc($event, 'decryptPK')" type="password" [(ngModel)]="password" class="mail-input" placeholder="Password">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="decryptPK()" class="submit-button mt-3" [disabled]="passwordValidator()">Continue
            </button>
        </div>

        <div *ngIf="passwordVerified">
            <p class="pr-key-msg">Private key is a secret key. It is the only way to decrypt the encrypted data. You might need this to transfer your funds to other wallets</p>

            <div class="private-key-container">
                {{decriptedPrivateKey}}
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'show-backup-recovery-phrase'" class="backup-private-key">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h3>{{title}}</h3>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>
        <div *ngIf="!passwordVerified">
            <p [innerHTML]="message" class="message"></p>

            <input (focus)="focusFunction()" (keyup)="keyupFunc($event, 'decryptBK')" type="password" [(ngModel)]="password" class="mail-input" placeholder="Password">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="decryptBK()" class="submit-button mt-3" [disabled]="passwordValidator()">Continue</button>
        </div>

        <div *ngIf="passwordVerified">
            <div *ngIf="recoveryPhrasechecking">
                <p class="pr-key-msg">This is the only way to reset your password! Your PBQ tokens can’t be recovered without it.</p>

                <div class="private-key-container">
                    {{oauthService.brainKey}}
                </div>

                <div>
                    <span class="text-error for-error " *ngIf="!oauthService.brainKeySaved">
                        It is strongly recommended that you store backups of your Recovery phrase in physically separate, offline environment. Do not share it with anyone else
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'fast-backup-recovery-phrase'" class="backup-private-key">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h3>{{title}}</h3>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div class="recovery-verify-steps">
            <div fxLayout="row" fxLayoutAlign="flex-start center">
                <i class="icon-padlock"></i>
                <p>Please enter the words from your Recovery Phrase in the required order.</p>
            </div>

            <form [formGroup]="checkingFormGroup" (ngSubmit)="onSubmit()">
                <div fxLayout="row" fxLayout.lt-sm="column" class="verify-inputs-container">
                    <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                        <input class="mail-input" (focus)="focusFunction()" formControlName="first"
                               [attr.index]="checkingPhrasesArray[0]" #firstInput required>
                        <span>Word {{checkingPhrasesArray[0] + 1}}</span>
                    </div>
                    <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                        <input class="mail-input" (focus)="focusFunction()" formControlName="second"
                               [attr.index]="checkingPhrasesArray[1]" #secondInput required>
                        <span>Word {{checkingPhrasesArray[1] + 1}}</span>
                    </div>
                    <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                        <input class="mail-input" (focus)="focusFunction()" formControlName="third" #thirdInput
                               [attr.index]="checkingPhrasesArray[2]" required>
                        <span>Word {{checkingPhrasesArray[2] + 1}}</span>
                    </div>
                    <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                        <input class="mail-input" (focus)="focusFunction()" formControlName="fourth" #fourthInput
                               [attr.index]="checkingPhrasesArray[3]" required>
                        <span>Word {{checkingPhrasesArray[3] + 1}}</span>
                    </div>
                </div>
                <div class="justify" style="">
                    <span class="text-error" *ngIf="incorrectRecoverPhrase">{{incorrectRecoverPhrase}}</span>
                    <div class="submit-container">
                        <button class="submit-button" [disabled]="!checkingFormGroup.valid" type="submit">Finish
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div *ngSwitchCase="'transfer-confirmation'" class="backup-private-key trans-confirm">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h3>{{title}}</h3>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div innerHtml="{{message}}"></div>
        <div>
            <span class="text-error error-pbq">Please note, that after submission, there is no way to cancel this transaction</span>
        </div>

        <div class="btn-div last-btn-div">
            <button (click)="onCloseCancel()" class="submit-button mt-3" style="max-width: 150px;width: 100%;">No, thanks</button>
            <button (click)="onCloseConfirm()" class="submit-button mt-3" style="max-width: 150px;width: 100%;">Yes, I am sure</button>
        </div>
    </div>

    <div *ngSwitchDefault><p>Your Action Not Found</p></div>
</div>