<div fxLayout="row" fxLayoutAlign="flex-end center">
        <mat-icon fxFlexAlign="flex-end" class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
</div>
<h1 class="mat-dialog-title">{{'core.please_indicate' | translate}}</h1>
<mat-radio-group class="demo-section" fxLayout="column"  fxLayoutGap="10px" [(ngModel)]="changedReason">
    <div><mat-radio-button name="reason"  [value]="reasons.CONTENT_NOT_INTERESTED">{{'core.not_interested' | translate}}</mat-radio-button></div>
    <div><mat-radio-button name="reason"  [value]="reasons.CONTENT_SPAM">{{'core.spam' | translate}}</mat-radio-button></div>
    <div><mat-radio-button name="reason"  [value]="reasons.CONTENT_MATERIAL_FOR_ADULTS">{{'core.material_for_adults' | translate}}</mat-radio-button></div>
    <div><mat-radio-button name="reason"  [value]="reasons.CONTENT_MISINFORMATION">{{'core.misinformation' | translate}}</mat-radio-button></div>
    <div><mat-radio-button name="reason"  [value]="reasons.CONTENT_INSULT">{{'core.insult' | translate}}</mat-radio-button></div>

    <div fxFlexAlign="flex-end">
        <button mat-button (click)="onCloseConfirm()">{{'core.submit' | translate}}</button>
    </div>
</mat-radio-group>