<div class="session-page">
  <div class="centered session-form" *ngIf="formView === 'registerForm'">
    <h1>Create PUBLIQ Wallet</h1>
    <h2>Enter your email to get authentication link.</h2>

    <div>
      <form class="form" novalidate (ngSubmit)="register()" [formGroup]="registerForm">
        <input class="mail-input" formControlName="email" placeholder="Email" required/>

        <div [hidden]="!hasErrors" class="warning">
          <app-control-message class="mb-4 h6" [control]="registerForm.controls['email']"></app-control-message>
        </div>

        <button class="submit-button" (click)="validateForm()" type="submit">Get the link</button>
        <p class="have-wallet">Have a Wallet? <a href="" routerLink="/user/login">Login</a></p>
      </form>
    </div>
  </div>


  <div class="centered session-form" *ngIf="formView === 'successRegisterMessage'">
    <h2>
      Please check your email to access your authentication link.
    </h2>
  </div>

  <div class="centered session-form" *ngIf="formView === 'needLoginMessage'">
    <h2>
      It seems you already have a PUBLIQ Wallet, please check your email to access your authorization link.
    </h2>
  </div>

  <mat-card class="centered mat__spinner" *ngIf="formView === ''">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
  </mat-card>

  <!--<div class="animation-container"></div>-->

</div>
