<div class="signinup">
    <div class="signinup__side signinup__side--light">
        <div class="signinup__header">
            <img src="/assets/images/publiq-media-white.svg" class="signinup__header__logo d-none d-lg-none d-sm-inline-block">
            <ui-tab *ngIf="['login', 'register'].includes(activeRoute)" [type]="'navigation'" [currentValue]="activeRoute" [className]="'tabber'" (onTabChange)="changeTab($event)" [tabs]="tabberData"></ui-tab>
        </div>
        <div class="signinup__content">
            <div class="signinup__inner">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="signinup__footer">
            <a href="#" *ngIf="activeRoute == 'login'" class="" (click)="changeRoute($event, '/user/recover')">Forgot your password?</a>
            <p class="signinup__footer--terms d-none">By registering you agree to our <a href="">Terms & Conditions</a></p>
            <a href="#" *ngIf="activeRoute != 'login'" (click)="changeRoute($event, '/user/login')">Back to login <i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <div class="signinup__side signinup__side--dark d-none d-sm-inline-block">
        <div class="signinup__header">
            <a [routerLink]="['/']"> <img src="../../../assets/images/publiq-media-white.svg" class="signinup__header__logo d-none d-lg-inline-block pointer" alt="PUBLIQ">
            </a>
            <div class="signinup__header__language">
                <span [ngClass]="{'language--active': activeLanguage == 'en'}" (click)="useLang('en')">EN</span>
                <span [ngClass]="{'language--active': activeLanguage == 'jp'}" (click)="useLang('jp')">JP</span>
            </div>
        </div>

        <div class="signinup__content">
            <div class="signinup__slider swiper-container">
                <div class="signinup__slider__bullets d-md-inline-block d-lg-none"></div>
                <swiper [config]="swiperConfig">
                    <div class="swiper-wrapper">
                        <div class="signinup__slider__item swiper-slide">
                            <img src="assets/images/slides/typewritter.png" alt="">
                            <div class="signinup__slider__item__texts">
                                <div>You are in a safe place!</div>
                                <div>Protected and decentralized platform designed for you!</div>
                            </div>
                        </div>
                        <div class="signinup__slider__item swiper-slide">
                            <img src="assets/images/slides/microphones.png" alt="">
                            <div class="signinup__slider__item__texts">
                                <div>You are in a safe place!</div>
                                <div>Protected and decentralized platform designed for you!</div>
                            </div>
                        </div>
                        <div class="signinup__slider__item swiper-slide">
                            <img src="assets/images/slides/telescope.png" alt="">
                            <div class="signinup__slider__item__texts">
                                <div>You are in a safe place!</div>
                                <div>Protected and decentralized platform designed for you!</div>
                            </div>
                        </div>
                    </div>
                </swiper>
                <div class="signinup__slider__bullets d-none d-lg-inline-block"></div>
            </div>
        </div>
        <div class="signinup__footer">
            <a href="#">About</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</div>