<div class="signinup">
  <div class="signinup__side signinup__side--light">
    <div class="signinup__header">
      <img src="../../../assets/images/publiq-logo.svg"
           class="signinup__header__logo d-none d-lg-none d-sm-inline-block">
      <ui-tab *ngIf="['login', 'register'].includes(activeRoute)" [type]="'navigation'" [currentValue]="activeRoute" [className]="'tabber'" (onTabChange)="changeTab($event)"
              [tabs]="tabberData"></ui-tab>
      <!--<img src="../../../assets/images/close.svg">-->
    </div>
    <div class="signinup__content">
      <div class="signinup__inner">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="signinup__footer">
      <!--FOR SIGNIN-->
      <a href="#" *ngIf="activeRoute == 'login'" class="" (click)="changeRoute($event, '/user/recover')">Forgot your
        password?</a>
      <!--FOR REGISTERING EMAIL-->
      <p class="signinup__footer--terms d-none">By registering you agree to our <a href="">Terms & Conditions</a></p>
      <!--FOR RESET PASSWORD-->
      <a href="#" *ngIf="activeRoute != 'login'" (click)="changeRoute($event, '/user/login')">Back to login <i
        class="icon-arrow-right"></i></a>
    </div>
  </div>
  <div class="signinup__side signinup__side--dark d-none d-sm-inline-block">
    <div class="signinup__header">
      <img src="../../../assets/images/publiq-logo-white.svg" class="signinup__header__logo d-none d-lg-inline-block"
           alt="PUBLIQ">

      <div class="signinup__header__language">
        <span class="language--active">EN</span>
        <span>JP</span>
      </div>
    </div>

    <div class="signinup__content">
      <div class="signinup__slider swiper-container">
        <div class="signinup__slider__bullets d-md-inline-block d-lg-none"></div>
        <swiper [config]="swiperConfig">
          <div class="swiper-wrapper">
            <div class="signinup__slider__item swiper-slide">
              <img src="http://via.placeholder.com/320x300" alt="">
              <div class="signinup__slider__item__texts">
                <div>You are in a safe place!</div>
                <div>Protected and decentralized platform designed for you!</div>
              </div>
            </div>
            <div class="signinup__slider__item swiper-slide">
              <img src="http://via.placeholder.com/320x300" alt="">
              <div class="signinup__slider__item__texts">
                <div>You are in a safe place!</div>
                <div>Protected and decentralized platform designed for you!</div>
              </div>
            </div>
            <div class="signinup__slider__item swiper-slide">
              <img src="http://via.placeholder.com/320x300" alt="">
              <div class="signinup__slider__item__texts">
                <div>You are in a safe place!</div>
                <div>Protected and decentralized platform designed for you!</div>
              </div>
            </div>
          </div>
        </swiper>
        <div class="signinup__slider__bullets d-none d-lg-inline-block"></div>
      </div>
    </div>

    <div class="signinup__footer">
      <a href="#">About</a>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
  </div>
</div>
