<div class="submit-story">
  <div class="story-header">
    <h2>{{data.message}}</h2>
    <p>{{'core.are_you_want_to_proceed' | translate}}</p>
  </div>
  <div class="boost">
    <img src="../../../assets/ic_rocket.svg" alt="boost">
    <p>
      <b>{{'content.boost_story' | translate}}</b>
      <span>{{'dialog.confirm.let_see_more' | translate}}</span>
    </p>
    <div class="slide-toggle">
      <mat-slide-toggle [checked]="boostEnabled" (change)="boostEnabled = !boostEnabled"></mat-slide-toggle>
    </div>
  </div>
  <ng-container *ngIf="boostEnabled">
    <div class="boost-slider">
      <p>
        <span>50</span>
        <span>500</span>
      </p>
      <mat-slider
        class="example-margin"
        [max]="500"
        [min]="50"
        [step]="10"
        [thumbLabel]="true"
        [(ngModel)]="boostMoney"
        [vertical]="vertical"
        (change)="updateTotal()"
      >
      </mat-slider>
    </div>
    <div class="button-toggle">

      <mat-button-toggle-group name="fontStyle" #group="matButtonToggleGroup" value="1" >
        <mat-button-toggle class="button-toggle-items" value="1" (change)="selectBoostTime($event.value)">1 {{'content.day' | translate}}</mat-button-toggle>
        <mat-button-toggle class="button-toggle-items" value="3" (change)="selectBoostTime($event.value)">3 {{'content.days' | translate}}</mat-button-toggle>
        <mat-button-toggle class="button-toggle-items" value="7" (change)="selectBoostTime($event.value)">7 {{'content.days' | translate}}</mat-button-toggle>
      </mat-button-toggle-group>

    </div>
    <div class="will-spend">
      <p>{{'dialog.confirm.you_will_spend' | translate}} <b>{{priceOneDay}} PBQ</b> {{'dialog.confirm.for' | translate}}  <span>1 {{'content.day' | translate}}</span>.</p>
      <div class="total">
        <span>{{'content.total' | translate}}</span>
        <b>{{total}} PBQ</b>
      </div>
    </div>
  </ng-container>


  <div class="button-space">
    <button mat-raised-button color="primary"  (click)="onCloseConfirm()" >
      {{boostEnabled
      ? data.editableContent ? ('dialog.confirm.update_boost_now' | translate)  : ('dialog.confirm.publish_boost_now' | translate)
      : data.editableContent ? ('content.update' | translate) : ('content.publish' | translate)

      }}

    </button>
    <button mat-button (click)="onCloseCancel()">{{'dialog.confirm.cancel_story' | translate}}</button>
  </div>
</div>
