<div class="session-page">
  <div class="centered restore-page session-form">
    <h1>Reset password</h1>
    <h2>Create new password</h2>
    <!--<button *ngIf="formView !== 'success'" routerLink="/user/login">-->
    <!--<span class="close-btn">-->
    <!--<span class="close-span"></span>-->
    <!--<span class="close-span"></span>-->
    <!--</span>-->
    <!--</button>-->

    <div *ngIf="formView === 'formView'">
      <form class="form" novalidate (ngSubmit)="recover()" [formGroup]="recoverForm">


        <input class="mail-input" type="password" formControlName="password" placeholder="Create new password"
               required/>

        <input class="mail-input" formControlName="confirmPassword" placeholder="Confirm New Password"
               type="password"
               required/>

        <div class="warning">
          <app-control-message [control]="recoverForm"></app-control-message>
        </div>

        <div class="warning">
          <app-control-message [control]="recoverForm.controls['password']"></app-control-message>
        </div>

        <div class="warning" *ngIf="errorMessage">
          <div>{{errorMessage}}</div>
        </div>

          <button class="submit-button" [disabled]="!recoverForm?.valid" type="submit">
            Submit
          </button>
      </form>
    </div>

    <div *ngIf="formView === 'success'" class="successfully-restored">
      <i class="icon-success"></i>

      <h4>Your new password is successfully created</h4>

      <div class="button-container">
        <button class="submit-button" routerLink="/wallet/transfer">Ok</button>
      </div>
    </div>

    <mat-card class="centered mat__spinner" *ngIf="formView === ''">
      <mat-spinner class="centered mat__spinner" style="margin: 50px auto;"></mat-spinner>
    </mat-card>

  </div>
</div>
