mat-card.centered {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  margin: 20px auto;
}



////fdfsdf


.close-span:nth-of-type(1){
  transform: rotate(45deg);
  width: 20px;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: 0;
}
.close-span:nth-of-type(2){
  transform: rotate(-45deg);
  width: 20px;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: 0;
}
.recovery-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 55px;
  margin: 0 auto;
  h4{
    font-size: 25px;
    color: #2B2B2B;
  }
  i{
    font-size: 18px;
  }
}
.recovery-header button{
  background: none;
  border: none;
  height: 40px;
  width: 38px;
  cursor: pointer;
}
.recovery-header button:focus{
  outline: none;
}
.recovery-header button .close-btn{
  position: relative;
  width: 20px;
  height: 20px;
}
.rest-content{
  padding: 0 20px;
}

.rest-content div:nth-of-type(1){
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rest-content div:nth-of-type(1) p{
  color: #696969;
  font-size: 12px;
  max-width: 600px;
  width: 100%;
}
.rest-content div:nth-of-type(1) img{
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

h5{
  font-size: 18px;
  margin-left: 13.3%;
}

.rest-content div:nth-of-type(2){
  min-height: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px 15px;
  font-size: 20px;
  width: 74%;
  margin-left: 13.3%;

}

@media screen and (max-width: 768px) {
  .centered{
    box-shadow: none!important;
  }
  .rest-content div:nth-of-type(2){
    width: 100%;
    margin-left: 0;
  }
  h5{
    margin-left: 0;
  }
}

/* security part style */

.centered.secure{
  font-family: 'Open Sans', sans-serif;
  max-width: 940px;

  min-width: 150px;
  width: 100%;
  margin: 10vh auto;
  //padding: 0 30px 30px 30px;
}

.security-inner-content{
  margin: 20px auto;
  width: 80%;
  h2{
    line-height: 1.4;
    font-size: 14px;
    color: #565A60;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

.security-inner-content div:nth-of-type(1) p{
  color: #696969;
  font-size: 12px;
  max-width: 600px;
  width: 70%;
}

.security-inner-content div:nth-of-type(1) p span{
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.security-inner-content div:nth-of-type(1) p span b {
  font-weight: bold;
}

.security-inner-content div:nth-of-type(1) i{
  margin-right: 20px;
  font-size: 27px;
  color: #f00;
}

.security-inner-content .textarea{
  min-height: 86px;
  border: 1px solid #565A60;
  padding: 15px;
  font-size: 18px;
  max-width: 100%;
  width: 100%;
  resize: none;
  border-radius: 6px;
  margin-bottom: 15px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
}
.security-inner-content .submit-div.agree-div{
  margin-top: 30px;
  >div{
    width: 100%;
    display: flex;
  }
}

.security-inner-content .submit-div.agree-div p{
  color: #FF0000;
  font-size: 12px;
  max-width: 65%;
  line-height: 18px;
}
.submit-button.see-later-btn{
  background-color: white!important;
  color: #696969!important;
  margin-right: 20px;
  transition: .2s;
  cursor: pointer;
  &:hover{
    background-color: #3366FF!important;
    color: #ffffff!important;
    transition: .2s;
  }
  &:focus{
    outline: none;
  }

  border: 1px solid #3366FF!important;

}
@media screen and (max-width: 890px){
  .submit-div.agree-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start!important;
  }
  .security-inner-content .submit-div.agree-div p{
    margin-bottom: 20px;
    max-width: 100%;
  }
}

////sdfsdfsdf


.full-width {
  width: 100%;
}

.icon-question-mark{
  position: relative;
  margin-left: 8px;
  line-height: 1.4;
  color: #C1C4CB;
  font-size: 18px;
}
.icon-question-mark:hover:after {
  content: attr(data-hint);
  min-width: 200px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: #2a2a2a;
  font-size: 14px;
  padding: 8px;
  z-index: 1;
  border-radius: 5px;
}

@media screen and (max-width: 490px){
  .icon-question-mark:hover:after {
    left: -90px;
    bottom: 17px;
  }
}

.colored-wrap {
  margin-bottom: 50px;
  padding: 25px 15px;
  background: #FFEDEB;
  border-radius: 10px;
  font-size: 14px;
  color: #565A60;

  &.success {
    background: unquote('#7ed32157');
    color: #fff;
    p{
      color: white;
      margin-bottom: 0;
    }
  }

  .icon-warning {
    font-size: 24px;
    color: red;
  }

  .icon-success {
    font-size: 24px;
    color: white;
  }

  .inner-wrap {
    > div {
      height: 100%;
    }
    .mid-level-warning{
      display: flex;
      justify-content: center;
    }
    p {
      font-weight: 600;
      line-height: normal;
      font-size: 14px;
      color: #565A60;
    }

  }

  .padlock-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .icon-padlock {
    font-size: 28px;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }
}

.inner-wrap {
  padding: 0 15px;

  h4 {
    font-size: 25px;
    color: #2B2B2B;
    font-weight: 600;
  }

  .security{
    display: flex;align-items: center;
    margin: 50px 0;

    .security-title {
      flex: 0 0;
    }

    .security-level-container {
      flex: 1 0;
      text-align: right;
      color: #696969;
      font-size: 12px;

      span {
        margin-bottom: 8px;
        font-size: 12px;
        color: #696969;
        font-weight: 600;
        display: inline-block;
      }

      .security-level{
        display: inline-block;
        width: 170px;
        height: 18px;
        margin-left: 10px;
        vertical-align: middle;
        //overflow: hidden;
        text-transform: lowercase;
        position: relative;
        border: 1px solid #DEE2E6;
        border-radius: 4px;

        &.high {
          border: none;

          .security-level-range {width: 100%; background-color: #7ED321; text-transform: uppercase;}
        }

        &.middle {
          .security-level-range {width: 66.66%; background-color: #ffc301;}
        }

        .security-level-range {
          width: 33.33%;
          text-align: left;
          font-size: 12px;
          font-weight: bold;
          color: #fff;
          background: #FF0000;

          position: absolute;
          top: -1px;
          left: -1px;
          border-radius: 4px;
          height: 18px;
          padding: 3px 0 3px 10px;
        }
      }
    }
  }

  .labelled-item {
    display: inline-flex;
    width: 100%;
    margin:0 0 36px;
    &:last-child{
      margin-bottom: 0;
    }

    strong {
      font-size: 14px;
      font-weight: bold;
    }

    .line-label {
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      font-size: 16px;
      color: #2B2B2B;
      font-weight: 600;
    }
  }

  .readonly-field {
    display: inline-flex;
    height: 45px;
    background: #ECF0F3;
    border-radius: 5px;
    input {
      &[type="password"] {
        color: #979797;
        letter-spacing: 6px;
      }
    }

    .show-hide-btn {
      display: flex;
      align-items: center;
      font-size: 14px;
      flex: 0 0 40px;
      position: relative;
      &:focus{
        outline: none;
      }

      i{
        cursor: pointer;
        color: #3366ff;
      }
      i.hdn {
        color: #979797;
        &:after {
          content: '';
          width: 1px;
          height: 25px;
          transform: rotate(45deg);
          background: #979797;
          position: absolute;
          top: 20%;
          left: 31%;
        }
      }
    }
  }

  .backup-btn-container {
    padding-left: 16px;
    position: relative;

    .backup-btn {
      width: 100%;
      background: #2B2B2B;
      border-radius: 7px;
      color: #fff;
      height: 45px;
      font-size: 11px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background .2s;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      span{
        opacity: .86;
      }
      &:hover {
        background: #000000;
      }
    }
  }

  .status-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30%;
    color: #696969;

    .icon-success {
      font-size: 20px;
      margin-right: 8px;
      color: #289A21;
    }

    .icon-failure {
      font-size: 20px;
      margin-right: 8px;
      color: #FF0000;
    }
  }
}
.labelled-item > div.pubkey {
  word-wrap: break-word;
  line-height: 25px;
  position: relative;
  .copy-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ECF0F3;
    border-radius: 5px;
    cursor: pointer;
    img{
      width: 24px;
    }
  }
}
.step-1{
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
  min-width: 70px;
  display: flex;
  justify-content: center;
}
.recovery-title{
  font-size: 16px;
  color: #2B2B2B;
  margin-bottom: 25px;
  font-weight: 600;
}
@media screen and (max-width: 840px){
  .backup-btn-container span{
    font-size: 10px!important;
  }
}

@media screen and (max-width: 599px) {
  .status-info {
    justify-content: flex-start!important;
    height: 32px!important;
    margin-top: 25px!important;
    padding-left: 0!important;
  }
}
@media screen and (max-width: 490px){
  .security-level-container {
    span {
      margin-right: 82px;
    }
  }
}
@media screen and (max-width: 540px){
  .inner-wrap.profile-inner .labelled-item{
    flex-direction: column!important;
    >div{
      flex-direction: column !important;
      flex: 1 !important;
      min-height: auto!important;
      .readonly-field{
        //margin: 15px 0;
        max-width: 100%!important;
      }
    }
    .backup-btn-container{
      max-width: 100%!important;
      padding: 0;
    }
  }
  .inner-wrap .backup-btn-container .backup-btn{
    margin-top: 16px;
  }
  .security-inner-content{
    width: 100%;
  }
  .inner-wrap .labelled-item .line-label{
    display: block;
    margin-bottom: 12px;
  }
  .security-inner-content .submit-div.agree-div{
    >div{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  .profile-inner .public-key-view:not(.key-input),
  .profile-inner .email-space{
    display: block;
    //margin: 15px 0 0;
  }
}

.error-pbq{
  margin: 20px 0;
}

.profile-inner{
  background: #FFFFFF;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,0.07);
  border-radius: 10px;
  padding: 42px 50px;
  margin-bottom: 70px;
  font-family: 'Open Sans',sans-serif;
  .line-label{
    font-size: 16px;
    color: #2B2B2B;
    font-weight: 500;
  }
  .email-space{
    font-size: 18px;
    color: #2B2B2B;
    font-weight: 300;
  }
  .public-key-view, .key-input{
    width: 100%;
    display: inline-block;
    border: none;
    min-height: 45px;
    padding: 15px;
    background: #ECF0F3;
    border-radius: 7px;
    font-size: 15px;
    position: relative;
    line-height: 1.4;
    .copy-btn{
      position: absolute;
      top: 0;
      right: 0;
      width: 37px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #ECF0F3;
      border-radius: 5px;
      cursor: pointer;
      img{
        width: 24px;
      }
    }
  }
  .public-key-view:not(.key-input){
    padding:15px 45px 15px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
  }

}
