<section class="main-inner-page">

  <!--<div class="wallet-tabs">-->
    <!--<div class="wallet-tab " routerLinkActive="active" routerLink="/wallet/transfer">-->
      <!--<span class="i-img wallet-svg"></span>-->
        <!--<span>Wallet</span></div>-->
    <!--<div class="wallet-tab" routerLinkActive="active" routerLink="/user/recover-phrase">-->
      <!--<span class="i-img sec-svg"></span><span>Security</span></div>-->
  <!--</div>-->

  <mat-card class="vh-centered mat__spinner" [hidden]="!loading">
    <mat-spinner></mat-spinner>
  </mat-card>

  <div class="inner-wrap pr-0 pl-0" [hidden]="loading">
    <div class="mt-3" [hidden]="passwordVerified">
      <div class="security">
        <div class="security-title">
          <!--<h4>Security</h4>-->
        </div>
        <div class="security-level-container">
          <span>Security steps</span>
          <div [ngClass]="getSecurityClass()">
            <div class="security-level-range">{{securityStatusName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="colored-wrap"  *ngIf="(account && !oauthService.brainKeySeen)">
    <div class="inner-wrap">
      <div class="recovery-header" style="width: 100%">
        <div style="display: flex">
          <i class="icon-warning step-1"></i>
          <p>You have to backup your recovery phrase. It is strongly recommended to store the backup copies in physically separate, offline environment. If someone were to find your recovery phrase they could access your wallet.Your recovery phrase is the only way to reset your web wallet password.
            <span class="d-block">1/2 Backup private key.</span>
            <span class="d-block">2/2 Backup recovery phrase. <span> Your recovery phrase is the only way to reset your web wallet password.</span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="centered profile-inner" *ngIf="(account && !oauthService.brainKeySeen)">
    <div class="security-inner-content">
      <h4 class="recovery-title">Recovery Phrase</h4>

      <div class="textarea">{{oauthService.brainKey}}</div>

      <p class="text-error"></p>

      <div class="submit-div agree-div">
        <!--<h2> Your recovery phrase is the only way to reset your web wallet password.</h2>-->
        <div>
          <button class="submit-button see-later-btn" type="button" (click)="openLaterConfirmPopup()">LATER</button>
          <button class="submit-button" type="button" (click)="backupFastRecoveryPhrasePopup()">BACKUP</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="account && oauthService.brainKeySeen">
    <div class="colored-wrap" [ngClass]="{'success': getSecurityClass() === 'security-level high'}"
         *ngIf="firstTimeFullBackuped">
      <div class="inner-wrap">
        <div>
          <div class="mid-level-warning" fxFlex="70px">
            <i [class]="getSecurityClass() !== 'security-level high' ? 'icon-warning' : 'icon-success'" [style.color]="getSecurityClass() === 'security-level high' ? 'black' : null"></i>
          </div>

          <div fxFlex="100%">
            <p>You have to backup your private key and recovery phrase. It is strongly recommended to store the backup copies in physically separate, offline environment. If someone were to find your password, private key or recovery phrase they could access your wallet.
              <span class="d-block">1/2 Backup private key.</span>
              <span class="d-block">2/2 Backup recovery phrase. <span> Your recovery phrase is the only way to reset your web wallet password.</span></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-wrap profile-inner" [hidden]="loading">
      <div class="mt-3" [hidden]="passwordVerified">

        <div class="labelled-item" >
          <div fxFlex="180px" class="line-label-parent">
            <span class="line-label">Email: </span>
            <div class="status-info" style="flex: 0 0 6%">
              <img src="../../../assets/backed_up_icon.svg" alt="">
            </div>
          </div>
          <div fxFlex.gt-xs="100%" fxFlex="100%"  style="display: flex;justify-content: space-between;align-items: center">
            <span class="email-space">{{account.email}}</span>
            <div class="status-info hidden-mob" style="flex: 0 0 6%">
              <img src="../../../assets/backed_up_icon.svg" alt="">
            </div>
          </div>
          <!--<div class="email-checked" fxFlex.gt-xs="10%" fxFlex="100%">-->
            <!---->
          <!--</div>-->
        </div>
        <div class="labelled-item">
          <div fxFlex="180px" class="line-label-parent">
            <span class="line-label backup-title">Address: <i class="icon-question-mark"
                                                 data-hint="Public key is your address to receive tokens."></i></span>
          </div>
          <div class="pubkey" fxFlex="{{oauthService.brainKeySaved || oauthService.privateKeySaved ? '70%' : '100%'}}">
            <!--<div class="public-key-view"><strong>{{account.publicKey}}</strong></div>-->
            <input disabled class="public-key-view" type="text" value="{{account.publicKey}}">
            <span class="copy-btn" (click)="copy(account.publicKey)">
                <img src="../../../assets/copy.svg" alt="copy">
            </span>
          </div>
        </div>

        <div class="labelled-item">
          <div fxFlex="180px" class="line-label-parent">
            <span class="line-label backup-title">Private key: <i class="icon-question-mark"
                                                     data-hint="If someone were to find your private key they could access your wallet."></i></span>
            <div *ngIf="oauthService.privateKeySaved" class="backup-btn-checked status-info" (click)="backupPrivateKeyPopup()">
                <span>
                  <img src="../../../assets/backed_up_icon.svg" alt="">
                </span>
            </div>
          </div>
          <div fxFlex.gt-xs="100%" fxFlex="100%" class="labelled-items">
            <div class="readonly-field" fxFlex="{{!oauthService.privateKeySaved ? '80%' : '100%'}}" fxFlex.lt-md="{{!oauthService.privateKeySaved ? '80%' : '100%'}}">
              <input class="key-input" type="password" disabled value="ub035e40d09c7797e3b04a49bc01948a8">
              <div class="show-hide-btn" (click)="showPrivateKey()">
                <i [ngClass]="!showPrivateKeyOpened ? 'icon-eye' : 'icon-eye hdn'"></i>
              </div>
            </div>
            <div  class="backup-btn-container" fxFlex="{{!oauthService.privateKeySaved ? '36%' : '10%'}}" >
              <div *ngIf="!oauthService.privateKeySaved" class=" submit-button" (click)="backupPrivateKeyPopup()">
                <span >Backup</span>
              </div>
              <div *ngIf="oauthService.privateKeySaved" class="backup-btn-checked hidden-mob" (click)="backupPrivateKeyPopup()">
                <span>
                  <img src="../../../assets/backed_up_icon.svg" alt="">
                </span>
              </div>
            </div>
          </div>
          <!--<div fxFlex.gt-xs="25%" fxFlex="100%">-->
            <!--<div class="status-info">-->
              <!--<i [ngClass]="oauthService.privateKeySaved ? 'icon-success' : 'icon-failure'"></i>-->
              <!--<span *ngIf="oauthService.privateKeySaved">Done</span>-->
              <!--<span *ngIf="!oauthService.privateKeySaved">Not Backed Up</span>-->
            <!--</div>-->
          <!--</div>-->
        </div>

        <div class="labelled-item fielded mb-2">
          <div fxFlex="180px" class="line-label-parent">
            <span class="line-label backup-title">Recovery phrase<i class="icon-question-mark"
                                                         data-hint=" If someone were to find your recovery phrase they could access your wallet."></i></span>
            <div class="backup-btn-checked status-info" *ngIf="oauthService.brainKeySaved" (click)="backupRecoveryPhrasePopup()">
                <span>
                  <img src="../../../assets/backed_up_icon.svg" alt="">
                </span>
            </div>
          </div>
          <div fxFlex.gt-xs="100%" fxFlex="100%" class="labelled-items">
            <div class="readonly-field" fxFlex="{{!oauthService.brainKeySaved ? '80%' : '100%'}}" fxFlex.lt-md="{{!oauthService.brainKeySaved ? '80%' : '100%'}}">
              <input class="key-input" type="password" readonly value="ub035e40d09c7797e3b04a49bc01948a8">
              <div class="show-hide-btn" (click)="showBackupRecoveryPhrase()">
                <i [ngClass]="!showBackupRecoveryPhraseOpened ? 'icon-eye' : 'icon-eye hdn'"></i>
              </div>
            </div>

            <div  class="backup-btn-container" fxLayout="column" fxFlex="{{!oauthService.brainKeySaved ? '36%' : '10%'}}">
              <div class=" submit-button" *ngIf="!oauthService.brainKeySaved" (click)="backupRecoveryPhrasePopup()">
                <span >Backup</span>
              </div>
              <div class="backup-btn-checked hidden-mob" *ngIf="oauthService.brainKeySaved" (click)="backupRecoveryPhrasePopup()">
                <span>
                  <img src="../../../assets/backed_up_icon.svg" alt="">
                </span>
              </div>
            </div>
          </div>
          <!--<div fxFlex.gt-xs="25%" fxFlex="100%">-->
            <!--<div class="status-info">-->
              <!--<i [ngClass]="oauthService.brainKeySaved ? 'icon-success' : 'icon-failure'"></i>-->
              <!--<span *ngIf="oauthService.brainKeySaved">Done</span>-->
              <!--<span *ngIf="!oauthService.brainKeySaved">Not Backed Up</span>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <p class="ln-normal">Your recovery phrase is the only way to reset your web wallet password, make sure you have access to it if necessary.
        </p>
      </div>
    </div>
  </div>

  <!-- Yete success a, tal ".colored-wrap"-in "success" class -->
</section>
