<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-9">
            <div class="grid-style">
                <h2 class="shadowed-heading" data-shadow-text="Recommended">Recommended</h2>
                <div class="grid-style__items">
                    <i (click)="listType = 'grid'" class="grid-icon grid-icon--selected icon-multi-grid"></i>
                    <i (click)="listType = 'single'" class="grid-icon icon-single-grid"></i>
                </div>
            </div>
        </div>
        <ng-container *ngIf="firstContentBlock.length">
            <div *ngIf="listType == 'grid'" class="col-lg-8 col-xl-9 stories" [class.masonry]="isMasonryLoaded" [useImagesLoaded]="true" (layoutComplete)="onLayoutComplete($event)" ngx-masonry [options]="myOptions">
                <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)" (contentClick)="utilService.routerChangeHelper('content',$event)" (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)" (tagClick)="utilService.routerChangeHelper('tag',$event)"
                    ngxMasonryItem [type]="listType" *ngFor="let content of firstContentBlock;" [contentData]="content"></ui-content-single>
            </div>
            <div *ngIf="listType == 'single'" class="col-lg-8 col-xl-9">
                <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)" (contentClick)="utilService.routerChangeHelper('content',$event)" (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)" (tagClick)="utilService.routerChangeHelper('tag',$event)"
                    [type]="listType" *ngFor="let content of firstContentBlock;" [contentData]="content"></ui-content-single>
            </div>
        </ng-container>
        <div class="col-lg-4 col-xl-3">
            <div class="welcome-to-media" *ngIf="welcomeBlockVisible">
                <i class="icon-close pointer" (click)="welcomeBlockVisible = false"></i>
                <div class="welcome-to-media__heading">
                    <div></div>
                    <h4>Welcome to Media</h4>
                </div>
                <p>Become an early bird of the future media and get your share from our biggest <b>1,000,000</b> PBQ airdrop!</p>
                <ui-input type="email" placeholder="Your email"></ui-input>
                <ui-button className="button button--large" size="large" text="Sign up"></ui-button>
            </div>
            <div class="publications" *ngIf="publicationsList.length">
                <ui-publication-list [countByPage]="3" [data]="publicationsList" [hasMore]="hasMorePublications" (loadMore)="loadMorePublications()"></ui-publication-list>
            </div>
            <div class="copyright-space">
                <span class="copyright-space__text">© PUBLIQ – Decentralized Media</span>
                <div class="copyright-space__items">
                    <span class="copyright-space__items__item" [ngClass]="{'selected' : activeLanguage == 'jp'}" (click)="useLang('jp')">JP</span>
                    <span class="copyright-space__items__item" [ngClass]="{'selected' : activeLanguage == 'en'}" (click)="useLang('en')">EN</span>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="contentArray.length">
        <ui-relevant-content (contentClick)="utilService.routerChangeHelper('content',$event)" *ngIf="firstRelevantBlock.length" [type]="'all-single'" [contentList]="firstRelevantBlock" title="Interesting writers"></ui-relevant-content>
        <div class="row" *ngIf="secondContentBlock.length">
            <div *ngIf="listType == 'grid'" class="col-lg-8 col-xl-9 stories" [class.masonry]="isMasonryLoaded" [useImagesLoaded]="true" (layoutComplete)="onLayoutComplete($event)" ngx-masonry [options]="myOptions">
                <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)" (contentClick)="utilService.routerChangeHelper('content',$event)" (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)" (tagClick)="utilService.routerChangeHelper('tag',$event)"
                    ngxMasonryItem [type]="listType" *ngFor="let content of secondContentBlock" [contentData]="content"></ui-content-single>
            </div>
            <div *ngIf="listType == 'single'" class="col-lg-8 col-xl-9">
                <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)" (contentClick)="utilService.routerChangeHelper('content',$event)" (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)" (tagClick)="utilService.routerChangeHelper('tag',$event)"
                    [type]="listType" *ngFor="let content of secondContentBlock;" [contentData]="content"></ui-content-single>
            </div>
        </div>
        <ui-relevant-content (contentClick)="utilService.routerChangeHelper('content',$event)" *ngIf="secondRelevantBlock.length" [contentList]="secondRelevantBlock" title="Interesting writers"></ui-relevant-content>
    </ng-container>
    <ng-container *ngIf="loadedContentBlock.length">
        <div class="row">
            <div *ngIf="listType == 'grid'" class="col-lg-8 col-xl-9 stories" [class.masonry]="isMasonryLoaded" [useImagesLoaded]="true" (layoutComplete)="onLayoutComplete($event)" ngx-masonry [options]="myOptions">
                <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)" (contentClick)="utilService.routerChangeHelper('content',$event)" (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)" (tagClick)="utilService.routerChangeHelper('tag',$event)"
                    ngxMasonryItem [type]="listType" *ngFor="let content of loadedContentBlock" [contentData]="content"></ui-content-single>
            </div>
            <div *ngIf="listType == 'single'" class="col-lg-8 col-xl-9">
                <ui-content-single (accountClick)="utilService.routerChangeHelper('account',$event.slug)" (contentClick)="utilService.routerChangeHelper('content',$event)" (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)" (tagClick)="utilService.routerChangeHelper('tag',$event)"
                    [type]="listType" *ngFor="let content of loadedContentBlock" [contentData]="content"></ui-content-single>
            </div>
        </div>
    </ng-container>

    <div class="empty" *ngIf="seeMoreLoading">
        <div style="display: inline-block">
            <mat-spinner></mat-spinner>
        </div>
    </div>
    <ng-container *ngIf="seeMoreChecker">
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="blockInfiniteScroll" (scrolled)="seeMore()"></div>
    </ng-container>
</div>