.trending-section-wrapper {
  height: 560px;

  .spacer {
    float: left;
    display: inline-block;
    width: calc((100% - 1160px) / 2);
    height: 100%;

    &:first-child {
      background: #3366ff;
    }

    &:last-child {
      background: #f0f0f0;
      height: calc(100% + 300px);
    }
  }

  .inner-wrap {
    height: 100%;
  }

  .featured-section-wrapper {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    width: 740px;
    height: 100%;
    float: left;
    color: #fff;
    background: #3366ff;
    overflow: hidden;
    position: relative;

    a:hover {
      color: #ccc;
      text-decoration: none;
    }

    .featured-tags {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      margin: 22px 0;
    }

    .featured-title {
      font-size: 28px;
      margin: 16px 0;
      display: block;
    }

    .datetime {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 10px;
      font-size: 12px;

      span {
        margin-right: 30px;
      }
    }

    img {
      width: 100%;
      display: block;
      cursor: pointer;
      height: 408px;
      object-fit: cover;
    }

    .featured-author {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 390px;
      height: 90px;
      background: rgba(0, 45, 179, 0.8);
      padding-left: 40px;
      display: flex;
      align-items: center;
      z-index: 2;
      .author-link{
        max-width: 140px;
      }

      .avatar {
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 16px;
        background: #3366ff;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
        background-size: cover;
      }
      /*span.channel{
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding-right: 20px;
      }*/
    }
  }

  .trending-sidebar-wrapper {
    width: 390px;
    height: calc(100% + 300px);
    background: #f0f0f0;
    float: left;
    display: inline-block;
    position: relative;
    z-index: 2;

    .trending-item {
      padding: 20px 30px;
      display: flex;
      font-family: "Open Sans", sans-serif;

      .trending-image {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #777777;
      }

      .trending-info {
        padding-left: 15px;

        .datetime {
          font-size: 12px;
          color: #777777;
          margin: 2px 0 6px;

          span {
            vertical-align: middle;
          }

          .icon-views {
            font-size: 12px;
            vertical-align: middle;
            margin: 0 4px;
          }
        }

        h4 {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          font-family: "Open Sans Condensed", sans-serif;
        }

        .trending-author,
        .trending-tag-list {
          font-size: 11px;
          font-weight: bold;
          text-transform: uppercase;
          margin-top: 8px;
          color: #777777;
          a{
            word-break: break-word;
          }

          a:hover {
            text-decoration: none !important;

          }
        }
        .trending-author {
          display: flex;
          flex-wrap: wrap;
          //flex-direction: column;
          /*span.trending-channel{
            color: #000;
            margin-top: 10px;
          }*/
          span{
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.article-card-list-container {
  margin-top: -130px;
}

@media screen and (max-width: 1160px) {
  .trending-section-wrapper {
    width: 100%;
    height: auto;

    .trending-sidebar-wrapper,
    .featured-section-wrapper {
      float: none;
      width: 100%;
    }

    .featured-section-wrapper {
      width: 100%;
      > div {
        padding: 24px;
      }
      .featured-author {
        width: 100%;
        height: 70px;
      }

      img {
        height: auto;
      }
    }
  }

  .article-card-list-container {
    margin-top: 0;
    /deep/ .masonry-stamp-1,
    /deep/ .masonry-stamp-2 {
      display: none;
    }
  }
}
