<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-9">
            <h2 class="shadowed-heading" data-shadow-text="Recommended">Recommended</h2>
        </div>
        <div class="col-lg-8 col-xl-9 stories">
            <ui-content-single type="grid" [contentData]="content" *ngFor="let content of contentArray;"></ui-content-single>
        </div>
        <div class="col-lg-4 col-xl-3">
            <div class="welcome-to-media">
                <i class="icon-close"></i>
                <div class="welcome-to-media__heading">
                    <div></div>
                    <h4>Welcome to Media</h4>
                </div>
                <p>Become an early bird of the future media and get your share from our biggest <b>1,000,000</b> PBQ airdrop!</p>
                <ui-input type="email" placeholder="Your email"></ui-input>
                <ui-button className="button button--large" size="large" text="Sign up"></ui-button>
            </div>
            <div class="publications">
                <div class="publications__heading">
                    <h4>Publications</h4>
                    <div>
                        <i class="icon-arrow-up arrow--left arrow--inactive"></i>
                        <i class="icon-arrow-up arrow--right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-xl-9">
            <h2 class="shadowed-heading" data-shadow-text="Interesting writers">Interesting writers</h2>
        </div>
    </div>
</div>