<div id="notdrop" class="bg-white">

    <div class="row notbar-header no-gutters" *ngIf="userNotifications && userNotifications?.length">
        <div class="col-5 text-left">
            <h3 class="text-gray">{{'shared.notifications' | translate}}</h3>
        </div>
        <div class="col-7 text-right">
            <a class="text-grey-dark" [ngClass]="{'disabledAnchor': !unreadCount}" (click)="readAll($event)" disabled="!unreadCount">{{'shared.mark_as_read'
                | translate}}</a>
        </div>
    </div>

    <div [perfectScrollbar]="config" [disabled]="disableScroll">
        <ul id="notification-list" [style.min-width.px]="width">

            <li *ngIf="userNotifications?.length">

                <div class="notification-container">
                    <div id="content">
                        <ul class="inner-ul">
                            <li *ngFor="let notify of userNotifications" [ngClass]="{'unread': !notify.isRead}">
                                <i class="close-icon" data-click="true" (click)="deleteNotification(notify)"></i>
                                <i [title]="'Mark as ' + (!notify.isRead ? '' : 'un') + 'read'" class="notification-indicator"
                                    (click)="toggleStatus(notify, $event)"></i>

                                <div (click)="goNotificationPage(notify); userPage = false" class="clearfix">
                                    <!-- PERFORMER'S ICON -->
                                    <figure class="pull-left" *ngIf="(notify.performer.firstName || notify.performer.lastName); else defaultIcon">
                                        <img *ngIf="notify.performer.image; else initials" src="{{notify.performer.image}}"
                                            (error)="onImageNotFound(notify)" alt="photo" height="40" />

                                        <ng-template #initials>
                                            <div class="avatar">
                                                <span>{{ notify.performer | shortname }}</span>
                                            </div>
                                        </ng-template>
                                    </figure>
                                    <ng-template #defaultIcon>
                                        <figure class="pull-left avatar-icon">
                                            <mat-icon color="primary">account_circle</mat-icon>
                                        </figure>
                                    </ng-template>
                                    <!-- NOTIFICATION TEXT -->
                                    <p appHrefToRouterLink [overrideCallback]="emitHide">
                                        <span class="noteBody text-dark-gray" [innerHTML]="'notifications.notification_' + notify.type.keyword | translate: {
                                                performer: getPerformerLink(notify),
                                                target: notify.publication ? getPublicationLink(notify.publication) : ''
                                            } | safeHtml">
                                        </span>
                                        <!-- THE TIME WHEN THE EVENT HAPPENED -->
                                        <span class="text-gray">{{ notify.created_at | timeinterval }}</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="vh-centered">
                        <mat-spinner *ngIf="loadContent"></mat-spinner>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div *ngIf="!(userNotifications?.length)" class="ng-hide text-center no-note">
        <i class="icon-notifications"></i>
        <p>{{'shared.no_notifications' | translate}}</p>
    </div>
</div>