<div class="signinup__inner--create-password">
  <h3>Enter your password</h3>
  <p>
    This password encrypts your Private Key and gives you access to your account.
  </p>
  <form class="form" novalidate [formGroup]="configForm">
    <ui-input [type]="'password'" formControlName="password" [className]="'mail-input'" [inputId]="'password'"
              [placeholder]="'user.password' | translate"></ui-input>

    <ui-button [disabled]="!configForm?.valid" [className]="'button button--large button--primary button--full-radius'"
               [text]="'core.login' | translate " [type]="'ordinary'" [size]="'large'"
               (btnClicked)="onSubmit()"></ui-button>

    <app-control-message [control]="configForm"></app-control-message>
    <app-control-message [control]="configForm.controls['password']"></app-control-message>
    <p class="error-message" *ngIf="tokenCheckStatus == TokenCheckStatusEnum.Error">{{loginError}}</p>
  </form>
</div>
