<div class="modal-overlay">
    <div class="custom-modal" [ngClass]="{'invitors-modal': modalType !== 'invitation'}">
        <span class="custom-modal__close" (click)="closePopup()">
      <i class="icon icon-close"></i>
    </span>

        <!--create publication form-->
        <div *ngIf="modalType == 'create'">
            <form class="create-form" novalidate [formGroup]="publicationForm">
                <h3>Create New Publication</h3>

                <span class="create-form__label">Name</span>
                <ui-input [type]="'text'" [className]="'create-form__input'" [placeholder]="'Type your publication name'" formControlName="title"></ui-input>
                <p class="error-msg" *ngIf="titleError">{{titleError}}</p>
                <span class="create-form__label">Description</span>
                <ui-input [type]="'text'" [className]="'create-form__input'" [placeholder]="'Type a short description'" formControlName="description"></ui-input>
                <p class="error-msg" *ngIf="descriptionError">{{descriptionError}}</p>
                <!-- <span class="create-form__label">Tags</span>
                <ui-input [type]="'text'" [className]="'create-form__input'" [placeholder]="'Type a tag…'" formControlName="tags"></ui-input>
                upload avatar -->
                <div class="create-form__upload">
                    <ui-image-upload [heading]="'Upload logo'" [subheading]="'(Up to 1MB, 288px by 288px recommended)'" (_onChange)="selectLogo($event)" [imageUrl]="logoImage" formControlName="logo"></ui-image-upload>
                </div>
                <!--upload cover-->
                <div class="create-form__upload">
                    <ui-image-upload [heading]="'Upload Cover'" [subheading]="'(Up to 1MB, 288px by 288px recommended)'" (_onChange)="selectCover($event)" [imageUrl]="coverImage" formControlName="cover"></ui-image-upload>
                </div>
            </form>
            <div class="create-form__button-space">
                <ui-button [size]="'large'" [className]="'modal-button'" [text]="'Cancel'" (click)="closePopup()"></ui-button>
                <ui-button [size]="'large'" [className]="'modal-button'" [type]="'primary'" [text]="'Create'" (click)="onSubmit()" [disabled]="loading"></ui-button>

            </div>
        </div>


        <!--see invitations-->
        <div class="invitation-form" *ngIf="modalType == 'invitation'">
            <h3>Invitations <b>({{invitations.length}})</b></h3>
            <ui-publication-single *ngFor="let invitationData of invitations, let i=index" [type]="['invitation']" [className]="'inviters'" [publicationData]="invitationData" (invitationAnswer)="answer($event, i)"></ui-publication-single>
        </div>
    </div>
</div>
