<div class="session-page">

<mat-card class="centered mat__spinner" *ngIf="[TokenCheckStatusEnum.Init, TokenCheckStatusEnum.Loading].includes(tokenCheckStatus)">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
</mat-card>

<div class="centered session-form" *ngIf="tokenCheckStatus == TokenCheckStatusEnum.Success">
  <h1>Create new password</h1>
  <h2>Enter the password you would like to use with your wallet.</h2>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="configForm">
            <input class="mail-input" formControlName="password" placeholder="Password" type="password" required/>

        <div class="warning">
            <app-control-message [control]="configForm.controls['password']"></app-control-message>
        </div>

            <input class="mail-input" formControlName="confirmPassword" placeholder="Confirm" type="password" required/>

        <div class="warning">
            <app-control-message [control]="configForm"></app-control-message>
        </div>

            <button class="submit-button" [disabled]="!configForm.valid" type="submit">REGISTER</button>
    </form>
</div>
</div>
