<mat-card class="centered" *ngIf="[TokenCheckStatusEnum.Init, TokenCheckStatusEnum.Loading].includes(tokenCheckStatus)">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
</mat-card>

<mat-card class="centered" *ngIf="tokenCheckStatus == TokenCheckStatusEnum.Success">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="configForm">
        <mat-form-field class="full-width">
            <input matInput formControlName="password" placeholder="Password" type="password" required/>
        </mat-form-field>

        <div class="warning">
            <app-control-message [control]="configForm.controls['password']"></app-control-message>
        </div>

        <mat-form-field class="full-width">
            <input matInput formControlName="confirmPassword" placeholder="Confirm New Password" type="password" required/>
        </mat-form-field>

        <div class="warning">
            <app-control-message [control]="configForm"></app-control-message>
        </div>

        <mat-card-actions class="ml-0 mt-2">
            <button mat-raised-button color="primary" [disabled]="!configForm.valid" type="submit">REGISTER</button>
        </mat-card-actions>
    </form>
</mat-card>