.header-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  background: rgba(51, 102, 255, 0.97);
  z-index: 15;
  font: 18px/20px 'Open Sans', sans-serif;
  padding: 16px 16px;
  .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-toolbar-actions > a {
    display: inline-block;
    padding: 0 16px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    cursor: pointer;
    &.learn-more-button {
      color: #ffffff;
      outline: none;

      &:hover {opacity: 0.7;}
    }
    &.primary-button {
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 20px;
      font-size: 16px;
      color: #3366ff;
      padding: 0 24px;
      background: #ffffff;
    }
  }
  .message {
    flex: 1;
    color: #ffffff;
    font-weight: 300;
    b {
      font-weight: 600;
      color: #ffffff;
    }
  }
}

/deep/ app-header-toolbar + app-footer .footer-wrap {
  padding-bottom: 50px + 72px!important;
}

@media screen and (max-width: 640px) {
  .header-toolbar {
    font: 16px/20px 'Open Sans', sans-serif;
    min-height: 95px;
    padding: 10px 16px;
    .message {
      height: 65px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
    }
    .header-toolbar-actions {
      text-align: center;
      display: inline-flex;
      flex-direction: column-reverse;
      margin-left: 15px;
      a {
        text-decoration: none;
      }
    }
    .learn-more-button {
      font-size: 14px !important;
      margin-top: 5px;
    }
  }
}
