.infoText {
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  a {
    color: blue;
    margin-left: 5px;
  }
}

.settingTitleText {
  padding: 20px 0;
}

.fullsized {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 30px 0 20px 0;
    line-height: 22px;
  }
}

.info-container {
  position: absolute;
  width: 100%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  a.main-site-url {
    color: #3366ff;
    text-decoration: none;
    &:hover {
      color: #3366ff;
      text-decoration: none;
    }
  }
}
.div-close mat-icon.icon_close {
  z-index: 22;
}
