<div class="vh-centered" *ngIf="loadingAuthor">
    <mat-spinner></mat-spinner>
</div>

<div class="author-header-wrap profile-bg" *ngIf="!loadingAuthor" style="    background: white;">
    <div class="inner-wrap title-wrap" >
      <div class="background vh-centered" ></div>

      <div class="avatar-wrap">
            <div class="avatar"  [ngStyle]="{'background-image': checkImageHashExist() ? 'url(' + avatarUrl + ')' : 'url(/assets/no-image-article.jpg)'}">
                <span *ngIf="(checkImageHashExist() == false && shortName)" class="vh-centered">{{shortName}}</span>
            </div>
        </div>
        <div style="z-index: 1;position: relative;">
            <h1 id="a-title">{{ author?.firstName }} {{ author?.lastName }}</h1>

            <h3>
                {{'author.rating' | translate}} <span>{{authorStats && authorStats.rating ? authorStats.rating.toFixed(1) : 0}}</span>
                {{'author.followers' | translate}} <span id="followers-count">{{authorStats && authorStats.subscribersCount ? authorStats.subscribersCount : 0}}</span>
                {{'author.stories' | translate}} <span>{{authorStats && authorStats.articlesCount ? authorStats.articlesCount : 0}}</span>
                {{'author.views' | translate}} <span>{{authorStats && authorStats.views ? authorStats.views : 0}}</span>
            </h3>

            <!--<h3>
                &lt;!&ndash;ID <span>{{author?.id}}</span>&ndash;&gt;
                {{'author.account_address' | translate}} <span class="acc-name">{{ author?.name }}</span>
            </h3>-->

            <div *ngIf="author && !yourAccount; else settings" class="text-center text-md-left mt-3">
                <div [ngClass]="{'follow-button': true}" (click)="(canFollow ? follow() : unfollow())">
                    <i class="mr-2" [ngClass]="canFollow ? 'icon-follow' : 'icon-unfollow'"></i>
                    <span>{{(canFollow ? 'author.follow' : 'author.unfollow') | translate}}</span>
                </div>
            </div>
            <ng-template #settings>
                <div class="text-center text-md-left mt-3">
                    <div [routerLink]="['/user/settings']" class="follow-button">
                        <i class="icon-settings mr-1"></i>
                        <span>{{"header.settings" | translate}}</span>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>

<div *ngIf="((authorStories && authorStories.length || loadingAuthor) && articlesLoaded);else no_content">
    <app-article-card-list [articles]="authorStories" [hasSeparator]="false" [calculateViewCount]="true"></app-article-card-list>
    <div class="text-center mt-3" *ngIf="seeMoreChecker">
        <div class="empty" *ngIf="seeMoreLoading">
            <div style="display: inline-block">
                <mat-spinner></mat-spinner>
            </div>
        </div>

        <button [hidden]="seeMoreLoading" class="button button-fill text-uppercase font-weight-bold" tabindex="0" (click)="seeMore()">
            {{'wallet.see_more' | translate}}
        </button>
    </div>
</div>

<mat-spinner style="margin: 50px auto;" *ngIf="!loadingAuthor && !articlesLoaded"></mat-spinner>

<ng-template #no_content>
    <div *ngIf="!loadingAuthor && articlesLoaded">
        <div class="empty">
            <img src="/assets//no-materials.svg" alt="">
            <p>{{'author.no_content' | translate}}</p>
        </div>
    </div>
</ng-template>
