<div class="vh-centered" *ngIf="loadingAuthor">
  <mat-spinner></mat-spinner>
</div>

<div class="content content--mob" *ngIf="author">
  <div class="container">
    <form class="form" *ngIf="authorForm" novalidate (ngSubmit)="onSubmit()" [formGroup]="authorForm">
      <div class="row profile-metadata">
        <div class="col-2 profile-metadata__avatar profile-metadata__avatar--editable">
          <div class="profile-metadata__hover" [ngClass]="{'hover-avatar' : isCurrentUser}">
            <ui-avatar [size]="'large'"
                       [avatarData]="{'image': getCurrentImage(), 'fullName': author.fullName}"
                       [avatarData]="{'image': getCurrentImage(), 'fullName': author.fullName}"></ui-avatar>
            <i class="icon-close"
               [ngClass]="{'icon-close--hover' : (currentImage !== author.image) && isCurrentUser}"
               (click)="resetCurrentImage()"></i>
            <label class="profile-metadata__hover__upload" for="profilePic">
              <input type="file" (change)="showUploadedImage($event)" accept="image/jpeg,image/png"
                     id="profilePic" *ngIf="isCurrentUser">
              <i class="icon-camera"></i>
              <small>Upload</small>
            </label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 col-10">
          <h1 class="profile-metadata__fullname">
            <label>
              <textarea [attr.contenteditable]="isCurrentUser" contenteditable="true"
                        [placeholder]="isCurrentUser ? 'Add your name' : ''" #authorName
                        (keyup)="onNameEdit($event)" class="author-fullname" rows="1"
                        [readonly]="!isCurrentUser">{{author.fullName}}</textarea>
              <i class="icon-edit editable-icon" [ngClass]="editTitleIcon ? 'active-icon' : ''"></i>
            </label>
          </h1>
          <h3 class="profile-metadata__bio">
            <label>
              <textarea [attr.contenteditable]="isCurrentUser"
                        [placeholder]="isCurrentUser ? 'Write a short bio' : ''" #bioText
                        (keyup)="onBioEdit($event)" class="author-bio" rows="1"
                        [readonly]="!isCurrentUser">{{author.bio}}</textarea>
              <i class="icon-edit editable-icon" [ngClass]="editBioIcon ? 'active-icon' : ''"></i>
            </label>
          </h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-12">
          <div class="edit-menu">
            <ng-container *ngIf="isCurrentUser">
              <ui-button *ngIf="editMode || showEditModeIcons" [type]="'primary'" [size]="'medium'"
                         [text]="'Save'" [disabled]="disableSave"></ui-button>
              <div class="button button--icon" (click)="onEditMode(true)"
                   *ngIf="!editMode && !showEditModeIcons">
                <i class="icon-settings"></i>
              </div>
              <ui-button [iconButton]="true" [iconClassName]="'close'" (btnClicked)="resetValues()"
                         *ngIf="editMode || showEditModeIcons"
                         [className]="'author-close-icon'"></ui-button>
            </ng-container>
            <div *ngIf="!isCurrentUser">
              <ui-button [type]="'primary'" [iconClassName]="canFollow ? 'follow' : 'unfollow'" [size]="'medium'" [text]="canFollow ? 'Follow' : 'Unfollow'"
                         (click)="(canFollow ? follow() : unfollow())"></ui-button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row profile-statistics" [ngClass]="{'editable-disabled' : editMode}">
      <div class="col-lg-2 offset-lg-2 col-3 offset-0">
        <div *ngIf="false" class="datum">
          <span class="datum__value">{{author && author.rating ? author.rating.toFixed(1) : 0}}</span>
          <span class="datum__descriptor">RATING</span>
          <span class="datum__rating"><img src="assets/images/rating.svg" alt="rating"></span>
        </div>
      </div>
      <div class="col-lg-6 col-9">
        <div class="datum">
          <span class="datum__value">{{author && author.views ? author.views : 0}}</span>
          <span class="datum__descriptor">Views</span>
        </div>
        <div class="datum">
          <span class="datum__value">{{author && author.articlesCount ? author.articlesCount : 0}}</span>
          <span class="datum__descriptor">Stories</span>
        </div>
        <div class="datum">
          <span class="datum__value">{{author && author.subscribersCount ? author.subscribersCount : 0}}</span>
          <span class="datum__descriptor">Followers</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="isCurrentUser">
    <div class="row" *ngIf="editMode">
      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="grid-style grid-style--custom">
          <div class="grid-style__info">
            <h4>Your email: <span class="lighten">{{accountService.accountInfo.email}}</span></h4>
          </div>
          <div class="grid-style__choose">
            <div>
              <h4>{{listType | titlecase}} style</h4>
              <p>Choose the way your readers will see your stories.</p>
            </div>
            <div class="grid-style__choose__item">
                            <span (click)="listType = 'grid'">
              <i class="grid-icon icon-multi-grid" [ngClass]="{'grid-icon--selected': (listType == 'grid')}"></i>
              <small>Grid</small>
            </span>
              <span (click)="listType = 'single'">
                <i class="grid-icon icon-single-grid" [ngClass]="{'grid-icon--selected': (listType == 'single')}"></i>
                <small>List</small>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-xl-8 stories">
        <div style="display: flex; justify-content: space-between">
          <ui-tab *ngIf="isCurrentUser && !editMode" [className]="'author-tab'" (onTabChange)="tabChange($event)" [tabs]="tabs"></ui-tab>
          <ng-container *ngIf="selectedTab == '2' && drafts">
            <ui-button *ngIf="drafts.length" (btnClicked)="deleteAllDrafts()" [text]="'Delete All Drafts'" [className]="'delete-draft'"></ui-button>
          </ng-container>
        </div>
        <div
          [ngClass]="{'editable-disabled' : editMode && publishedContent.length && (selectedTab == '1' || !isCurrentUser)}"
          *ngIf="publishedContent.length && (selectedTab == '1' || !isCurrentUser)" class="text-center">
          <div *ngIf="listType == 'grid'" [class.masonry]="isMasonryLoaded" [useImagesLoaded]="true"
               (layoutComplete)="onLayoutComplete($event)" ngx-masonry [options]="masonryOptions">
            <ui-content-single *ngFor="let data of publishedContent"
                               (accountClick)="utilService.routerChangeHelper('account', $event.slug)"
                               (contentClick)="utilService.routerChangeHelper('content',$event)"
                               (publicationClick)="utilService.routerChangeHelper('publication',$event.slug)"
                               (tagClick)="utilService.routerChangeHelper('tag',$event)" ngxMasonryItem
                               [type]="'grid'" [contentData]="data">
            </ui-content-single>
          </div>
          <div *ngIf="listType == 'single'">
            <ui-content-single *ngFor="let data of publishedContent" [type]="'single'"
                               (accountClick)="utilService.routerChangeHelper('account', $event.slug)"
                               (contentClick)="utilService.routerChangeHelper('content', $event)"
                               (publicationClick)="utilService.routerChangeHelper('publication', $event.slug)"
                               (tagClick)="utilService.routerChangeHelper('tag',$event)"
                               [contentData]="data"></ui-content-single>
          </div>
          <div class="empty" *ngIf="seeMoreLoading">
            <div style="display: inline-block">
              <mat-spinner></mat-spinner>
            </div>
          </div>
          <ng-container *ngIf="seeMoreChecker">
            <div class="search-results" infiniteScroll [infiniteScrollDistance]="1"
                 [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="blockInfiniteScroll"
                 (scrolled)="seeMore()"></div>
          </ng-container>
        </div>
        <div class="no-stories"
             *ngIf="selectedTab && selectedTab == '1' && !loadingAuthor && articlesLoaded && !publishedContent.length">
          <img src="assets/images/no_story.svg" alt="no story"/>
          <span>No Stories Yet</span>
        </div>
        <div *ngIf="selectedTab == '2' && drafts">
          <div *ngIf="drafts && drafts.length > 0;else no_content">
            <ui-draft *ngFor="let oDraft of drafts; let index = index" [type]="'single'"
                      (deleteClick)="deleteDraft(oDraft.id, index)"
                      (editClick)="editDraft(oDraft.id)"
                      (contentClick)="editDraft(oDraft.id)" [draftData]="oDraft"></ui-draft>
          </div>
          <ng-template #no_content>
            <div class="no-drafts"
              *ngIf="selectedTab && selectedTab == '2' && !loadingAuthor && articlesLoaded && !publishedContent.length">>
              <img src="assets/images/no_story.svg" alt="no drafts"/>
              <span>No Drafts Yet</span>
            </div>
          </ng-template>
        </div>
        <div *ngIf="selectedTab == '3'">
          <div>
            <ui-content-single *ngFor="let data of publishedContent"
             (accountClick)="utilService.routerChangeHelper('account', $event.slug)"
             (contentClick)="utilService.routerChangeHelper('content', $event)"
             (publicationClick)="utilService.routerChangeHelper('publication', $event.slug)"
             (tagClick)="utilService.routerChangeHelper('tag',$event)" [type]="'edit'"
             (publicationsListClick)="changePublication($event, data.uri)"
             (editClick)="editStory($event)"
             [contentData]="data | contentHistory"
             [hasBoost]="data.boosted"
             (boostClick)="onBoostModal('boost')"
             [publicationList]="publicationsList"
             (historyClick)="historyClicked($event)"
            >
            </ui-content-single>
          </div>
          <div class="no-stories"
               *ngIf="selectedTab && selectedTab == '3' && !loadingAuthor && articlesLoaded && !publishedContent.length">
            <img src="assets/images/no_story.svg" alt="no story"/>
            <span>No Stories Yet</span>
          </div>
        </div>
        <div *ngIf="selectedTab == '4'">
          <div class="security">
            <h3>Security</h3>
            <p>Please store recovery phrase in a physically separate, offline environment. This is the only way to reset
              your password and access your wallet.</p>
            <div class="security__steps">
              <div>
                <span>Address:</span>
                <i class="icon-info"></i>
                <span class="tooltip_text">Address (Public key) is used for user identification, it can be freely shared, allowing users to verify digital signatures.</span>
              </div>
              <div style="text-align: right;font-weight: 700;flex: 1;margin-left: 30px">
                <span style="word-break: break-all">{{author.publicKey}}</span>
              </div>
            </div>
            <div class="security__steps">
              <div>
                <span>Private key:</span>
                <i class="icon-info"></i>
                <span class="tooltip_text">Private key is a secret key. It is the only way to decrypt the encrypted data. You might need this to transfer your funds to other wallets.</span>
              </div>
              <div class="security__steps__inputs">
                <ui-input [readonly]="true" [placeholder]="''" [type]="'password'"
                          [inputValue]="'ub035e40d09c7797e3b04a49bc01948a8'"></ui-input>
                <div class="show">
                  <i (click)="openPopup(true, 1)" [ngClass]="showSecurityModal ? 'icon-hidden' : 'icon-preview'"></i>
                </div>
              </div>
            </div>
            <div class="security__steps">
              <div>
                <span>Recovery Phrase:</span>
                <i class="icon-info"></i>
                <span class="tooltip_text">Recovery phrase contains 16 words in a specific order. This is the only way to reset your password! Your PBQ tokens can’t be recovered without it.</span>
              </div>
              <div class="security__steps__inputs">
                <ui-input [readonly]="true" [placeholder]="''" [type]="'password'"
                          [inputValue]="'ub035e40d09c7797e3b04a49bc01948a8'"></ui-input>
                <div class="show">
                  <i (click)="openPopup(true, 2)" [ngClass]="showSecurityModal ? 'icon-hidden' : 'icon-preview'"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-overlay--custom" [ngClass]="{'open' : showSecurityModal}">
  <div class="custom-modal custom-modal--security">
        <span class="custom-modal__close" (click)="openPopup(false)">
      <i class="icon icon-close"></i>
    </span>
    <div *ngIf="showPrivateKey">
      <h3>Private Key</h3>
      <span *ngIf="!passwordVerified">Enter your password to see your <b>Private Key</b></span>
      <ui-input [type]="'password'" [inputId]="'private-key'" [placeholder]="'Password'" (focus)="focusFunction()"
                (keyup)="keyupFunc($event, 'generatePrivateKey')"  [(ngModel)]="password" [inputValue]="password" [hidden]="passwordVerified"></ui-input>
      <span class="text-error" *ngIf="passError && !passwordVerified">{{passError}}</span>
      <div *ngIf="passwordVerified">
        <div class="password-container">
          <p>Private key is a secret key. It is the only way to decrypt the encrypted data. You might need this to transfer your funds to other wallets</p>
          <p class="password-block">{{decriptedPrivateKey}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="showPhase">
      <h3>Recovery Phrase</h3>
      <span *ngIf="!passwordVerified">Enter your password to see your <b>Recovery Phrase</b></span>
      <ui-input [type]="'password'" [inputId]="'recovery-phase'" [placeholder]="'Password'" (focus)="focusFunction()"
                (keyup)="keyupFunc($event, 'generateBK')"  [(ngModel)]="password" [inputValue]="password" [hidden]="passwordVerified"></ui-input>
      <span class="text-error" *ngIf="passError && !passwordVerified">{{passError}}</span>
      <div *ngIf="passwordVerified">
        <div class="password-container">
          <p>This is the only way to reset your password! Your PBQ tokens can’t be recovered without it.</p>
          <div class="password-block">
            {{decryptedBrainKey}}
          </div>
        </div>
      </div>
    </div>

    <div class="custom-modal__buttons">
      <ng-container *ngIf="showPrivateKey && !passwordVerified">
        <ui-button [text]="'Submit'" (btnClicked)="generatePrivateKey()" [className]="'cancel-modal'" [type]="'primary'" [disabled]="passwordValidator()"></ui-button>
      </ng-container>
      <ng-container *ngIf="showPhase && !passwordVerified">
        <ui-button [text]="'Submit'" (btnClicked)="generateBK()" [className]="'cancel-modal'" [type]="'primary'" [disabled]="passwordValidator()"></ui-button>
      </ng-container>
    </div>
  </div>
</div>

<!--create story-->
<div class="container container--new-story" *ngIf="isCurrentUser">
  <div class="new-story" [routerLink]="'/content/newcontent'">
    <img src="assets/images/new-story.svg" alt="new story">
  </div>
</div>
<!--end-->

<div class="no-visible" [ngClass]="{'visible' : showModal}">
  <app-confirm-modal [properties]="modalProps" (closeConfirmModal)="doDelete($event)"></app-confirm-modal>
</div>

<!--for boosting-->

<div class="publishing-space publishing-space--edit-boost" [ngClass]="{'visible' : showBoostModal}">
  <app-boost-modal [modalType]="showBoostModalType" (closeBoostedModal)="closeBoostModal()"></app-boost-modal>
</div>
