.autocomplete-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.autocomplete-full-width {
  width: 100%;
}

.autocomplete-center {
  margin: 20px auto;
}

.upper-bold {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  vertical-align: middle;
}

small {
  font-size: 14px;
}

.mat_option {
  position: relative;
}
.more_text {
  font-size: 14px;
  position: absolute;
  right: 16px;
  top: 4px;
}
mat-chip-list mat-chip{
  width: auto;
}
.avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background: #3366ff;
  vertical-align: middle;
  margin-right: 10px;
  background-position: center !important;
  background-size: cover;
  position: relative;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.line-bottom {
  border-bottom: 1px solid #3366ff;
}

.italic {
  font-style: italic;
}

/deep/.has_more_option {
  .mat-option-text {
    width: 100%;
    height: 98%;
    border-bottom: 1px solid #3366ff;
  }
}
/deep/.mat-option-disabled {
  color: black !important;
}
// /deep/.mat_option:first-child:hover {
//   background: none!important;
//   cursor: default;
// }
// /deep/.mat_option:nth-child(3):hover {
//   background: none!important;
//   cursor: default;
// }
/deep/ .autocomplete-full-width span label {
  display: none !important;
}

.title {
  font-size: 20px;
}

.name {
  font-size: 16px;
}
