<div [ngSwitch]="action" class="info-container">

    <div *ngSwitchCase="'backup-private-key'" class="backup-private-key">

        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h1>{{title}}</h1>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div *ngIf="!passwordVerified">
            <h2 [innerHTML]="message" class="message"></h2>

            <input (focus)="focusFunction()" (keyup)="keyupFunc($event, 'generatePrivateKey')" type="password" [(ngModel)]="password" class="mail-input"
                   placeholder="Password">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="generatePrivateKey()" class="submit-button" [disabled]="passwordValidator()">Continue
            </button>
        </div>

        <div *ngIf="passwordVerified">
            <h2 class="message">If someone were to find your private key they could access your wallet. It is strongly recommended to store your private key in physically separate, offline environment.</h2>

            <div class="private-key-container">
                {{decriptedPrivateKey}}
            </div>

            <div class="checkbox-container">
                <label><input type="checkbox" class="regular-checkbox" (change)="confirmChanged($event)">
                    <!--<span class="checkbox-text"> I have copied and saved the Private Key exactly as it is written in a secure folder.</span>-->
                  <span class="checkbox-text">Backed up</span>
                </label>
            </div>

            <div class="text-right">
                <button class="submit-button" [disabled]="!confirmClicked" (click)="setPrivateKeySaved()">Confirm</button>
            </div>
        </div>

    </div>

    <div *ngSwitchCase="'later-seen-confirmation'" class="backup-private-key">

        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h1>{{title}}</h1>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div>
            <h2 class="message">Are you sure you want to postpone your Recovery Phrase backup?</h2>
            <div class="keys-text">In case you press "Yes" and forget your password until next login, there will be no way to restore your wallet</div>

            <div class="btn-div">
                <button (click)="onCloseCancel()" class="submit-button ">NO</button>
                <button (click)="confirmRecoveyPhraseSeen()" class="submit-button ">YES</button>
            </div>

        </div>
    </div>

    <div *ngSwitchCase="'backup-recovery-phrase'" class="backup-private-key">

        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h1>{{title}}</h1>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div *ngIf="!passwordVerified">
            <h2 [innerHTML]="message" class="message"></h2>

            <input (focus)="focusFunction()" (keyup)="keyupFunc($event, 'decryptBK')" type="password" [(ngModel)]="password" class="mail-input"
                   placeholder="Password">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="decryptBK()" class="submit-button " [disabled]="passwordValidator()">Continue</button>

        </div>

      <!--backup-->
        <div *ngIf="passwordVerified">
            <div *ngIf="recoveryPhrasechecking">
                <h2 class="message pr-key-msg">If someone were to find your recovery phrase they could access your wallet. It is strongly recommended to store your recovery phrase in physically separate, offline environment.</h2>

              <h2 class="mb-0 only-way-text">Your recovery phrase is the only way to reset your web wallet password.</h2>
                <div class="private-key-container pr-key-text">
                    {{oauthService.brainKey}}
                </div>

                <div class="submit-container text-right ">
                    <button class="submit-button next-button" (click)="recoveryPhrasechecking = false" type="button">Next</button>
                </div>
              <h2>In the next step, you will need to enter four words from the recovery phrase in a random order.</h2>
            </div>

            <div class="recovery-verify-steps" [hidden]="recoveryPhrasechecking">
                <div fxLayout="row" fxLayoutAlign="flex-start center">
                    <!--<i class="icon-padlock"></i>-->
                    <h2 class="pr-key-msg mb-0">Please enter the words from your recovery Phrase in the required order.</h2>
                </div>

                <form [formGroup]="checkingFormGroup" (ngSubmit)="onSubmit()">
                    <div fxLayout="row" fxLayout.lt-sm="column" class="verify-inputs-container">
                        <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                            <input class="mail-input" (focus)="focusFunction()" formControlName="first"
                                   [attr.index]="checkingPhrasesArray[0]" #firstInput required>
                            <span>Word {{checkingPhrasesArray[0] + 1}}</span>
                        </div>
                        <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                            <input class="mail-input" (focus)="focusFunction()" formControlName="second"
                                   [attr.index]="checkingPhrasesArray[1]" #secondInput required>
                            <span>Word {{checkingPhrasesArray[1] + 1}}</span>
                        </div>
                        <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                            <input class="mail-input" (focus)="focusFunction()" formControlName="third" #thirdInput
                                   [attr.index]="checkingPhrasesArray[2]" required>
                            <span>Word {{checkingPhrasesArray[2] + 1}}</span>
                        </div>
                        <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                            <input class="mail-input" (focus)="focusFunction()" formControlName="fourth" #fourthInput
                                   [attr.index]="checkingPhrasesArray[3]" required>
                            <span>Word {{checkingPhrasesArray[3] + 1}}</span>
                        </div>
                    </div>
                    <div class="see-btns">
                          <button class="submit-button" [disabled]="!checkingFormGroup.valid" type="submit">Finish
                          </button>
                        <button class="submit-button back-btn"  (click)="onCloseCancel()">Back</button>
                    </div>
                  <span class="text-error" *ngIf="incorrectRecoverPhrase">Something went wrong. Make sure you entered the words from recovery phrase in right order.</span>
                </form>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'show-private-key'" class="backup-private-key">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <h1>{{title}}</h1>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>
        <div *ngIf="!passwordVerified">
            <h2 [innerHTML]="message" class="message"></h2>

            <input (focus)="focusFunction()" (keyup)="keyupFunc($event, 'decryptPK')" type="password" [(ngModel)]="password" class="mail-input" placeholder="Password">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="decryptPK()" class="submit-button " [disabled]="passwordValidator()">Continue
            </button>
        </div>

        <div *ngIf="passwordVerified">
            <h2 class="pr-key-msg">Private key is a secret key. It is the only way to decrypt the encrypted data. You might need this to transfer your funds to other wallets</h2>

            <div class="private-key-container">
                {{decriptedPrivateKey}}
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'show-backup-recovery-phrase'" class="backup-private-key">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <!--<h1>{{title}}</h1>-->
            <h1>Backup recovery phrase</h1>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>
        <div *ngIf="!passwordVerified">
            <h2 [innerHTML]="message" class="message"></h2>
            <!--<h2 class="message">If someone were to find your recovery phrase they could access your wallet. It is strongly recommended to store your recovery phrase in physically separate, offline environment.-->
            <!--</h2>-->

            <input (focus)="focusFunction()" (keyup)="keyupFunc($event, 'decryptBK')" type="password" [(ngModel)]="password" class="mail-input" placeholder="Password">

            <div><span class="text-error" *ngIf="passError">{{passError}}</span></div>

            <button (click)="decryptBK()" class="submit-button " [disabled]="passwordValidator()">Continue</button>
        </div>

        <div *ngIf="passwordVerified">
            <div *ngIf="recoveryPhrasechecking">
                <h2 class="pr-key-msg">If someone were to find your recovery phrase they could access your wallet. It is strongly recommended to store your recovery phrase in physically separate, offline environment.</h2>

              <h2 class="mb-0 only-way-text">Your recovery phrase is the only way to reset your web wallet password.</h2>

                <div class="private-key-container pr-key-text">
                    {{oauthService.brainKey}}
                </div>
              <h2>Your recovery phrase is the only way to reset your web wallet password.</h2>

                <div>
                    <span class="text-error for-error " *ngIf="!oauthService.brainKeySaved">
                        In the next step, you will need to enter four words from the recovery phrase in a random order.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'fast-backup-recovery-phrase'" class="backup-private-key">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="title-container">
            <!--<h1>{{title}}</h1>-->
            <h1>Backup recovery phrase</h1>
            <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>
        </div>

        <div class="recovery-verify-steps">
            <div fxLayout="row" fxLayoutAlign="flex-start center">
                <h2 class="mb-0">Please enter the words from your recovery phrase in the required order.</h2>
            </div>

            <form [formGroup]="checkingFormGroup" (ngSubmit)="onSubmit()">
                <div fxLayout="row" fxLayout.lt-sm="column" class="verify-inputs-container">
                    <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                        <input class="mail-input" (focus)="focusFunction()" formControlName="first"
                               [attr.index]="checkingPhrasesArray[0]" #firstInput required>
                        <span>Word {{checkingPhrasesArray[0] + 1}}</span>
                    </div>
                    <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                        <input class="mail-input" (focus)="focusFunction()" formControlName="second"
                               [attr.index]="checkingPhrasesArray[1]" #secondInput required>
                        <span>Word {{checkingPhrasesArray[1] + 1}}</span>
                    </div>
                    <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                        <input class="mail-input" (focus)="focusFunction()" formControlName="third" #thirdInput
                               [attr.index]="checkingPhrasesArray[2]" required>
                        <span>Word {{checkingPhrasesArray[2] + 1}}</span>
                    </div>
                    <div fxFlex="25" fxFlex.lt-sm="100" class="full-width">
                        <input class="mail-input" (focus)="focusFunction()" formControlName="fourth" #fourthInput
                               [attr.index]="checkingPhrasesArray[3]" required>
                        <span>Word {{checkingPhrasesArray[3] + 1}}</span>
                    </div>
                </div>
                <div class="justify see-btns" style="width: 100%">
                  <button class="submit-button" [disabled]="!checkingFormGroup.valid" type="submit">Finish
                  </button>
                  <button class="submit-button back-btn" (click)="onCloseCancel()">Back
                  </button>
                </div>
              <span class="text-error" *ngIf="incorrectRecoverPhrase">Something went wrong. Make sure you entered the words from recovery phrase in right order.</span>

            </form>
        </div>
    </div>

    <div *ngSwitchCase="'transfer-confirmation'" class="backup-private-key trans-confirm">
            <!--<h1>{{title}}</h1>-->
            <h1>Review and confirm your transfer</h1>
          <h2>Please note, there is no way to cancel confirmed transaction.</h2>

          <mat-icon class="mat-18 pointer" (click)="onCloseCancel()">close</mat-icon>

        <div class="message-table" innerHtml="{{message}}"></div>

        <div class="last-btn-div transaction-btns">
            <button (click)="onCloseConfirm()"  class="submit-button">Confirm</button>
            <button (click)="onCloseCancel()" class="submit-button cancel-btn">Cancel</button>
        </div>
    </div>

    <div *ngSwitchDefault><p>Your Action Not Found</p></div>
</div>
