<mat-card class="centered" *ngIf="loading">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
</mat-card>

<mat-card class="centered" *ngIf="!loading">
    <mat-card-content>
        <mat-card-subtitle><span class="warning">{{'user.recovery_text' | translate}}</span></mat-card-subtitle>
        <p>{{'user.recovery_phrase' | translate}}: <b>{{accountService.brainKey}}</b></p>
    </mat-card-content>
    <form novalidate (ngSubmit)="register()" [formGroup]="registerForm">
        <mat-form-field class="full-width">
            <input matInput formControlName="password" placeholder="{{'user.password' | translate}}" type="password" required/>
        </mat-form-field>

        <div class="warning">
            <app-control-message [control]="registerForm.controls['password']"></app-control-message>
        </div>

        <mat-form-field class="full-width">
            <input matInput formControlName="confirmPassword" placeholder="{{'user.confirm_password' | translate}}" type="password" required/>
        </mat-form-field>

        <div class="warning">
            <app-control-message [control]="registerForm"></app-control-message>
        </div>

        <mat-card-actions class="ml-0 mt-2">
            <button mat-raised-button color="primary" [disabled]="!registerForm.valid" type="submit">{{'user.register' | translate}}
            </button>
        </mat-card-actions>

    </form>
</mat-card>
