<ng-container *ngIf="blockData">
    <div class="container-fluid main-grid mb-5">
        <div class="mt-3">
            <h2 class="mb-5">Block #{{ blockData.number }}</h2>
            <div class="row mb-5">
                <div class="col-md-6">
                    <table class="summary-table mb-4">
                        <thead>
                        <tr class="text-capitalize">
                            <th>Summary</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngIf="blockData.transactionsCount">
                            <td>Number of transactions</td>
                            <td>{{blockData.transactionsCount}}</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>{{ blockData.number }}</td>
                        </tr>
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ blockData.timestamp }}</td>
                        </tr>
                        <tr>
                            <td>Miner</td>
                            <td class="miner-key">
                                <a class="linked"
                                   [routerLink]="['/a', blockData.account.address]">{{blockData.account.address}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="hashes-table">
                        <thead>
                        <tr>
                            <th>Hashes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class=" mb-2">Block id</div>
                                <div class="miner-key">{{ blockData.hash }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class=" mb-2">Previous Block</div>
                                <div class="miner-key">{{ blockData.previousBlockHash }}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h2 class="mb-5"><span>Blocks transactions</span></h2>

        <div *ngIf="transactions.length" class="hidden-table">
            <table class=" mb-4">
                <thead>
                <tr class="text-capitalize">
                    <th class="text-center">Fee Fraction</th>
                    <th class="text-center">Fee Whole</th>
                    <th class="text-center">Transaction Hash</th>
                    <th class="text-center">Transaction Size</th>
                    <th class="text-center">Sign Time</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td class="text-center">{{transaction.feeFraction}}</td>
                    <td class="text-center">{{transaction.feeWhole}}</td>
                    <td class="text-center hash">
                        <a [routerLink]="['/t', transaction.transactionHash]">{{transaction.transactionHash}}</a>
                    </td>
                    <td class="text-center">{{transaction.transactionSize | number : '1.2-2'}} Kb</td>
                    <td class="text-center">{{transaction.timeSigned | date: 'yyyy-MM-dd HH:mm'}}</td>
                </tr>
                </tbody>
            </table>


            <div *ngIf="loadingBlocks"
                 class="row justify-content-center align-items-center spinner no-gutters">
                <mat-spinner></mat-spinner>
            </div>


            <ng-container *ngIf="seeMoreChecker">
                <div
                        class="search-results"
                        infiniteScroll
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="50"
                        [infiniteScrollDisabled]="blockInfiniteScroll"
                        (scrolled)="seeMore()"
                ></div>
            </ng-container>
        </div>


        <div class="no-tr" *ngIf="!blockData.transactions.length"><span>No transactions found</span></div>
    </div>
</ng-container>
