<div class="session-page">
  <div class="centered session-form" *ngIf="authStep == AuthStepStatusEnum.Init">
    <!--<mat-card-title>Sign in</mat-card-title>-->
    <!--<mat-card-subtitle>Enter you email and password to Sign in.</mat-card-subtitle>-->
    <h1>Log in to PUBLIQ Wallet</h1>
    <h2>Enter you email to get authorization link.</h2>

    <div>
      <form class="form" novalidate (ngSubmit)="authenticate()" [formGroup]="loginForm">

          <input class="mail-input" formControlName="email" placeholder="Email address" value="">

        <div>
          <app-control-message class="warning mb-4 h6" [control]="loginForm.controls['email']"></app-control-message>
        </div>

          <button class="submit-button" [disabled]="!loginForm.valid">Log in</button>

        <!--<a [routerLink]="['/user/recover']" class="forgot-password">Forgot your password?</a>-->
        <p class="have-wallet">No wallet? <a href="" routerLink="/user/register">Creat one</a></p>

      </form>
    </div>
  </div>

  <div class="centered session-form pls-check" *ngIf="authStep === AuthStepStatusEnum.Success">
    <h2>
      Please check your email to access your secure link.
    </h2>
  </div>

  <mat-card class="centered mat__spinner" *ngIf="authStep == AuthStepStatusEnum.Loading">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
  </mat-card>
</div>
