<section class="main-inner-page">

  <div class="wallet-tabs">
    <div class="wallet-tab " routerLinkActive="active" routerLink="/wallet/transfer">
      <span class="i-img wallet-svg"></span>
      <span>Wallet</span></div>
    <div class="wallet-tab" routerLinkActive="active" routerLink="/user/recover-phrase">
      <span class="i-img sec-svg"></span><span>Security</span></div>
  </div>

  <!--for receive-->
  <div class="centered security-form inner-pages active-tab" [class.active-tab]="receiveTab" *ngIf="!loading">
    <div class="accordion-title" (click)="onActiveAccordion()" >
      <h1>Receive</h1>
    </div>
    <app-receive></app-receive>
  </div>
    <!--for send-->
  <div class="centered security-form inner-pages" [class.active-tab]="transferTab" *ngIf="!loading">
    <div class="accordion-title" (click)="onActiveAccordion1(accordionTab)" >
      <h1>Send</h1>
    </div>

    <div class="inner-form" #accordionTab>
      <!--<h2>Send PBQs to the recipient's account. ????? </h2>-->

      <form class="form" novalidate [formGroup]="transferForm" autocomplete="off" (ngSubmit)="openConfirmDialog()">
        <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">
          <!--AMOUNT INPUT-->
          <div class="input-div">
            <p class="recipient-title">Amount</p>

            <input class="trans-input pbq-ammount" placeholder="PBQ" name="amount"
                   (keypress)="validate($event)"
                   (paste)="validate($event)"
                   formControlName="amount"
                   (focus)="focusFunction()"/>
          </div>
          <p class="error-msg" *ngIf="amountErrorMessage" fxLayout="row" [innerHTML]="amountErrorMessage"></p>

          <!--ACCOUNT INPUT-->
          <div fxFlex="50" class="full-width">
            <p class="recipient-title">Address</p>
            <input class="trans-input" matInput placeholder="PBQ5gTqbdThdUmdSjdhfUjCyF69dfGdGyRDjdCDExDderdXq" name="public_key" formControlName="public_key">
            <p class="error-msg" *ngIf="false" fxLayout="row">Recipient Address</p>
          </div>
        </div>
        <!--MEMO INPUT-->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
          <div class="full-width">
            <p class="recipient-title">Message</p>
            <div style="position: relative">
                        <textarea maxlength="200" [(ngModel)]="memo" (keypress)="validateMemoText($event)" (paste)="validateMemoText($event)"
                                  class="trans-input trans-textarea" matInput placeholder="0/200" name="memo" formControlName="memo"></textarea>
              <!--<span class="character" [ngClass]="{'max-char-error': memo.length > 200 }">{{memo.length}} / 200 characters</span>-->
              <p class="error-msg" *ngIf="false" fxLayout="row">Recipient Address is not found</p>
            </div>
          </div>
        </div>

        <!--SUBMIT BUTTON-->
        <div class="submit-pbq" fxLayout="row" fxLayoutAlign="end center" >
          <span class="fee">Transaction fee: <span class="blue">{{transferFee}} PBQ</span></span>
          <button type="submit" class="submit-button generate-btn" [disabled]="!transferForm.valid">Send</button>
        </div>
      </form>
    </div>

  </div>

  <mat-card class="centered spinner-div mat__spinner" *ngIf="loading">
    <mat-spinner style="margin: 80px auto;"></mat-spinner>
  </mat-card>

  <app-transactions></app-transactions>

</section>
