<mat-toolbar color="primary" class="public-header header" [ngClass]="{'has-revisions': isHistoryArticle}">
    <div class="header-slide-wrapper-container">
        <div class="header-slide-wrapper">
            <div class="header-slide inner-wrap" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <div fxLayout="column" [ngClass]="{'logo-open': searchBarOpen, 'logo-container': true, 'explorer-logo-container': true, 'logo': true}" fxLayoutAlign="center center">
                    <a href="/" (click)="redirectToHomePage($event)">
                      <img src="../../assets/img/Explorer_Logo.svg" alt="Explorer Logo">
                    </a>
                </div>
                <div class="search-bar col" [ngClass]="{'search-open': searchBarOpen}">
                    <span (click)="toggleSearch()"></span>
                    <input type="text" placeholder="Search by Address, Block or Transaction" #search (keyup.enter)="doSearch(search.value)">
                </div>
            </div>
        </div>
    </div>
    <div class="reading-progress"></div>
</mat-toolbar>
