.public-header {
  width:100%;
  display:block;
  position:fixed;
  background-color: #ffffff;
  color: black;
  z-index:3;
  transition: height .4s, top 0s;

  &.shrink-n {
    height: 80px;

    ::ng-deep ~ tag-list .tag-content {
      top: 80px;
    }
  }
  &.shrink {
    height: 80px;

    .header-slide-wrapper {
      transform: translateY(-100%);
    }

    ::ng-deep ~ tag-list .tag-content {
      top: 80px;
    }
  }

  &.has-revisions {
    top: 55px;
  }
}

button {
  outline: none;
}

.logo-container {
  flex: 0 0 140px;
  overflow: hidden;
  transition: .2s;

  &.publiq-logo-container {
    flex: 0 0 137.5px;

    .publiq-logo-small, .publiq-logo {
      height: 45px;
    }
  }fxlayoutgap

  a {
    display: flex;
  }
}

.header-slide-wrapper-container {
  overflow:hidden;
  width: 100%;
  height: 100%;
}

.header-slide-wrapper {
  width:100%;
  height:100%;
  transition: transform .4s;
}

.header-slide {
  width:100%;
  height:100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center space-between;
  align-items: center;
}

.reading-progress {
  position: absolute;
  bottom: 0; left: 0;
  height: 2px;
  background: #3366FF;
}

.icon {
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.publiq-logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
  width: 96.5px;
  height: 35px;
  cursor: pointer;

  &.publiq {
    width: 100px;
    margin-left: 0;
  }
}

.publiq-logo-small {
  display: inline-block;
  width: 33px;
  height: 35px;
  background-image: url(/assets/publiq-demo-small.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.popular-tags {
  padding-right: 100px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-article-meta {
  cursor:pointer;
  padding: 0 15px;

  h3 {
    margin-left: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }

  .avatar {
    display:inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: #3366FF;
    background-size: cover;
    background-position: center;
    border: none;
    color:#fff;
  }
}

.selected-tag {
  color: darkgrey;
}

.menuIcon {
  width: 28px;
  color: rgba(0,0,0,.7);
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  transition: color .2s;

  &:hover {
    color: rgba(0,0,0,.53);
  }
}

.searchIcon {margin-left:0;}

::ng-deep .mat-autocomplete-panel {
  max-height: 500px !important;
}
inner-wrap
.public-header {
  height: 100px;
}

.nopadd-button {
  min-width: 20px;
  padding: 7px;
}

mat-menu {
  margin-right: 0!important;
}

.mat-menu-item {
  i {
    display: inline-block;
    color: rgba(0, 0, 0, 0.54);
    margin-right: 16px;
    font-size: 22px;
    width: 24px;
    text-align: center;
    height: 24px;
    vertical-align: middle;

    + span {
      vertical-align: middle;
      color: rgba(0,0,0,.7);
    }
  }
}

.labelled-button {
  margin-left: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: color .2s;
  color: rgba(0,0,0,.7);

  span {
    vertical-align: middle;
  }

  i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 6px;
    width: 24px;
    display: inline-block;
    transition: none!important;
    color: inherit;
  }

  &:hover {
    color: rgba(0,0,0,.53);
  }
}

.balance-button {
  margin-right: 12px;
}

.has-revisions-info {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 55px;
  transform: translateY(-100%);
  background: #f8e71c;
  color: #000;
  padding: 15px;

  > .inner-wrap {
    display: flex;
    align-items: center;

    span {
      font-size: 16px;
      white-space: pre-wrap;
      line-height: 24px;

      a {
        font-weight: bold;

        &:hover{color: #000; text-decoration: underline;}
      }
    }
  }
}

.header-notifications {

  display: inline-block;
  position: relative;

  i {
    padding: 0;
    cursor: pointer;

    + span {
      position: absolute;
      width: 14px;
      height: 14px;
      background: #ff010d;
      display: flex;
      font-size: 12px;
      color: #fff;
      padding: 0;
      border-radius: 50%;
      top: 0;
      right: -4px;
      vertical-align: top;
      justify-content: center;
      align-items: center;
      animation: notifications-indicator infinite 5s ease-in-out;
      transform-style: preserve-3d;
    }
  }

  @keyframes notifications-indicator {
    0% {
      transform: rotateY(0deg) translateY(0px);
    }
    15%, 20% {
      transform: rotateY(360deg) translateY(-10px);
    }
    35%, 100% {
      transform: rotateY(360deg) translateY(0px);
    }
  }
}

.icon-nav,
.icon-search,
.icon-report,
.icon-views,
.icon-uploaded,
.icon-updated,
.icon-video,
.icon-delete,
.icon-edit,
.icon-camera,
.icon-all,
.icon-close,
.icon-frames,
.icon-fresh,
.icon-pin,
.icon-pin-o,
.icon-plus,
.icon-share,
.icon-login {
  margin-right: 0;
}

@media (max-width: 768px) {
  .logo-container.search-open {
    flex: 0!important;
    margin-right:0!important;

    & + span.spacer {
      margin-right:0!important;
    }
  }

  mat-icon{
    padding:0 !important;
  }
}

@media (max-width: 560px) {
  .logo-container {
    margin-right: 0 !important;

    .publiq-logo {
      width: 70px;
      height: 35px;

      &.publiq {
        width: 100px;
      }
    }
    .publiq-logo-small {
      width: 24px;
    }
  }

  .header-article-meta {
    padding: 0
  }
}
