<div class="submit-story">
  <div class="boost">
    <img src="../../../assets/ic_rocket.svg" alt="boost">
    <h2>
      <b>{{'content.boost_story' | translate}}</b>
      <span>{{'dialog.confirm.let_see_more' | translate}}</span>
    </h2>
  </div>
  <div class="boost-slider">
    <p>
      <span>50</span>
      <span>500</span>
    </p>

    <mat-slider
      class="example-margin"
      [max]="500"
      [min]="50"
      [step]="10"
      [thumbLabel]="true"
      [(ngModel)]="boostMoney"
      [vertical]="false"
      (change)="updateTotal()">
    </mat-slider>
  </div>
  <div class="button-toggle">

    <mat-button-toggle-group name="fontStyle" #group="matButtonToggleGroup" value="1" >
      <mat-button-toggle class="button-toggle-items" value="1" (change)="selectBoostTime($event.value)">1 {{'content.day' | translate}}</mat-button-toggle>
      <mat-button-toggle class="button-toggle-items" value="3" (change)="selectBoostTime($event.value)">3 {{'content.days' | translate}}</mat-button-toggle>
      <mat-button-toggle class="button-toggle-items" value="7" (change)="selectBoostTime($event.value)">7 {{'content.days' | translate}}</mat-button-toggle>
    </mat-button-toggle-group>

  </div>
  <div class="will-spend">
    <p>{{'dialog.confirm.you_will_spend' | translate}} <b>{{priceOneDay}} PBQ</b> {{'dialog.confirm.for' | translate}}  <span>1 {{'content.day' | translate}}</span>.</p>
    <!--<div class="total">-->
      <!--<span>Total</span>-->
      <!--<b>5.034PBQ</b>-->
    <!--</div>-->
  </div>

  <div class="button-space">
    <button mat-raised-button color="primary" (click)="onCloseConfirm()">{{'dialog.confirm.boost_now' | translate}}</button>
    <button mat-button (click)="onCloseCancel()">{{'dialog.confirm.cancel_story' | translate}}</button>
  </div>
</div>
