export const backend = 'https://stage-api.publiq.network';
export const dsBackend = 'https://stage-ds.publiq.network';
export const daemonAddressFirst = 'wss://south.publiq.network:443/websocket_stage';
export const daemonAddressSecond = 'wss://south.publiq.network:8092/websocket_stage';
export const currentVersion = 'presentation';
export const explorerAddress = 'https://explorer.publiq.network';
export const daemonHttpsAddress = 'https://south.publiq.network:443/api_stage';
export const GA_ID = 'NUA-99830524-3';
export const froalaEditorKey = 'pB1D1A1G1qB2C1D7A5E1F5E4A1B3C7dioyptoE2shvf==';
export const filestorageLink = 'https://stage-file.publiq.network';
export const mainSiteUrl = 'https://stage.publiq.site';
