<div class="session-page">

  <mat-card class="centered mat__spinner"
            *ngIf="[TokenCheckStatusEnum.Init, TokenCheckStatusEnum.Loading].includes(tokenCheckStatus)">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
  </mat-card>

  <div class="centered session-form"
            *ngIf="[TokenCheckStatusEnum.Success, TokenCheckStatusEnum.Error].includes(tokenCheckStatus)">

    <h1>Login to PUBLIQ Wallet</h1>
    <h2>Enter your password to log in.</h2>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="configForm">

      <input class="mail-input" formControlName="password" placeholder="Password" type="password" required/>

      <div class="warning">
        <app-control-message [control]="configForm.controls['password']"></app-control-message>
      </div>

      <div class="warning">
        <app-control-message [control]="configForm"></app-control-message>
      </div>

        <button class="submit-button" [disabled]="!configForm.valid" type="submit">Log In</button>
      <p class="have-wallet">No wallet? <a href="" routerLink="/user/register">Creat one</a></p>

    </form>
    <a class="forgot-pass" href="" [routerLink]="['/user/recover']">Forgot your password?</a>
  </div>
</div>
