.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 9;
}

.show-scroll {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

router-outlet {
  display: block;
  height: 100px;
}

.router {
  min-height: 90vh;
}

::ng-deep snack-bar-container.notification-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

::ng-deep snack-bar-container.notification-error {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

::ng-deep snack-bar-container.notification-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

::ng-deep snack-bar-container.notification-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

::ng-deep snack-bar-container.notification-autoSave {
  color: #909090;
  font-size: 5px;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  min-width: 120px;
  padding: 2px 24px;
}

mat-card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
