@import url("https://fonts.googleapis.com/css?family=Raleway");

.icon-edit {
  color: #3366ff;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30px;
  position: relative;
  margin-bottom: 12px;
  //border: 1px solid #E0E0E0;
  background: #3365ff;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pub-first-letter {
    font-size: 48px;
    color: white;
    position: absolute;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.publications-list-wrap {
  max-width: 1000px !important;
  margin: auto !important;
  padding: 50px 10px;
  font-family: 'Helvetica', sans-serif;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  width: 100%;
  margin-top: 12px;
}

//.mat-tab-list > div.mat-tab-label:nth-of-type(3) .mat-tab-label-content{
//color: red;
//}
.card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  color: white;
  min-height: 250px;
  margin-bottom: 32px;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  cursor: pointer;

  .title-space {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    .number {
      font-size: 12px;
      font-family: 'Helvetica', sans-serif;
      color: #4C4C4C;
      margin: 12px;
    }

    .seen-by {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      min-height: 30px;

      div {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        border-radius: 50%;
        background: #3365ff no-repeat center;
        background-size: cover;

        &.whole-number {
          background: #3365ff;
          color: white;
          font-size: 10px;
          font-weight: 300;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .edit {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    background: white;
    width: 24px;
    height: 24px;
    transition: .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    img {
      height: 14px;
    }
  }

  &:hover .edit {
    opacity: 1;
  }

  .cover-space {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: #3365ff;
    z-index: 0;
    border-radius: 2px;

    img.if-no-cover {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: .1;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    img.if-cover {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.cover-overlay:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .datespace {
    width: 100%;
    display: flex;
    flex-direction: row;

    span {
      font-weight: 100;
      color: white !important;
      opacity: 0.3;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
    }

    .icon-uploaded {
      font-style: normal;
      color: white !important;
      opacity: 0.3;
      margin-right: 20px;
    }
  }

}

.if-no-cover {
  width: 100%;
  height: 100%;
}



.icon-appointment {
  margin-right: 10px;
}

.main-container {
  .cols {
    padding-right: 15px;
    padding-left: 15px;
  }
}

mat-expansion-panel-header.header-panel .title-pic-space {
  width: 88%;
}

@media screen and (max-width: 1150px) {
  mat-accordion .info {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  mat-accordion .mat-expansion-panel-header {
    padding: 45px 20px !important;
    margin-bottom: 20px;
  }
  mat-accordion .info div {
    width: 100% !important;
  }
  .card-info-row {
    .title-space {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: auto;
    }

    .leave-membership {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 490px) {
  mat-accordion .title-space span {
    font-size: 20px;
  }
  mat-accordion .icon-uploaded,
  .icon-appointment,
  mat-accordion .info div .icon-views {
    margin-right: 10px;
  }
}

@media screen and (max-width: 350px) {
  mat-accordion .info {
    div span {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  mat-accordion ul li {
    flex-direction: column;

    span:nth-of-type(1) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  .card-info .edit {
    opacity: 1;
  }
  .header_create {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;

    h1 {
      font-size: 45px;
    }
  }
  .card-info-row {
    flex-direction: column;
    margin-bottom: 50px;

    .profile-pic {
      margin: 0 0 16px 0;
    }

    .leave-membership {
      opacity: 1;
    }

    .title-space {
      align-items: center;
      text-align: center;
    }

    &.invitation-row {
      .profile-pic {
        margin-bottom: 16px;
      }

      .choose {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
      }

      .acc-span {
        margin-top: 16px;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  mat-expansion-panel-header.header-panel .title-pic-space {
    width: 100%;
  }
  mat-accordion .title-space a.blank-title {
    font-size: 20px;
  }
}

.background-options {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
