<div class="settings-form" *ngIf="!isProfileUpdating">
    <main class="inner-wrap">
        <div [ngClass]="{'container-fluid': hideElement}">
            <h1 class="settings-page-title" *ngIf="hideElement">{{'user.settings' | translate}}</h1>
            <div class="tab-content-container">
                <ng-container>
                    <div class="static-data" [ngClass]="{'mt-5': hideElement}">
                        <div fxLayout="row" class="mb-3 email-space" *ngIf="hideElement">
                            <div fxFlex="36">
                                <span class="descriptor">{{'user.email' | translate}}:</span>
                            </div>
                            <div fxFlex="64">
                              <span>{{email}}</span>
                            </div>
                        </div>
                    </div>

                    <form class="form" *ngIf="settingsForm"
                          [ngClass]="{'mt-5': hideElement}"
                          novalidate
                          (ngSubmit)="onSubmit()"
                          [formGroup]="settingsForm">
                        <div class="settings-avatar-container" *ngIf="hideElement">
                            <label for="fileToUpload" class="avatar"
                                   [style.background-image]="getCurrentImage()">
                                <mat-icon [ngStyle]="{opacity: currentImage?'0.8':'1'}">add_a_photo</mat-icon>
                            </label>

                            <small *ngIf="currentImage" (click)="resetImage(imageInput)" [ngStyle]="{'padding-top':'5px','cursor':'pointer'}">
                                {{'user.reset_image' | translate}}
                            </small>
                            <input  id="fileToUpload" type="file" style="display:none;"
                                   (change)="showUploadedImage($event)" #imageInput>

                            <small class="mt-3 mx-auto mx-md-0">
                                JPG, PNG<br/>
                                {{'user.up_to' | translate}} 5MB
                            </small>

                        </div>
                        <div fxFlex class="settings-bio">
                            <div>
                                <mat-form-field class="full-width">
                                    <input matInput formControlName="firstName" placeholder="{{'user.first_name_or_nickname' | translate}}"
                                           >
                                </mat-form-field>
                            </div>
                            <div>
                                <app-control-message class="warning mb-4 h6"
                                                     [control]="settingsForm['controls']['firstName']"></app-control-message>
                            </div>

                            <div>
                                <mat-form-field class="full-width">
                                    <input matInput formControlName="lastName" placeholder="{{'user.last_name' | translate}}">
                                </mat-form-field>
                            </div>
                            <div class="warning mb-4 h6">
                                <app-control-message
                                        [control]="settingsForm['controls']['lastName']"></app-control-message>
                            </div>

                          <div>
                            <button mat-raised-button color="primary"
                                    [disabled]="disableSaveBtn">{{'user.save' | translate}}
                            </button>
                          </div>

                        </div>

                    </form>
                </ng-container>
            </div>
        </div>

    </main>
</div>

<mat-card class="centered" style="height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;" *ngIf="isProfileUpdating">
  <mat-spinner style="margin: 50px auto;"></mat-spinner>
</mat-card>
