mat-row{
  border: none;
}
mat-table mat-cell {
  &:first-of-type {
    flex: 0 0 60px;

    /deep/ .mat-list-item-content {
      padding: 0 !important;
    }
  }
  &:nth-of-type(2){
    min-width: 60px;
    flex: unset;
  }

  &:nth-of-type(3) {
    flex: 4;
  }

  &:last-of-type {
    text-align: right;
    justify-content: flex-end;

    span {
      display: inline-block;
      font-weight: bold;
      font-size: 16px;
      color: #3366FF;
      text-align: right;

      &.transaction-sent {
        &:before {
          content: '-';
        }
      }
    }
  }
}
.example-detail-row{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: block;
  margin-left: 54px;
  border-bottom: 1px solid #C1C4CB;
  padding-bottom: 25px;
  mat-cell:last-of-type td{
    border: none;
  }
}
.arrow_upward{
  color:#3DC47E;
}
.arrow_downward{
  color: #3365ff;
}

.first-title {
  font-size: 25px;
  color: #2B2B2B;
  font-weight: 600;
  padding: 34px;
  border-bottom: 1px solid rgba(193, 196, 203, .51);
}
.transaction-title{
  font-size: 16px!important;
  color: #2B2B2B;
  font-weight: 600!important;
}
.transaction-details{
  p{
    font-size: 14px;
    color: #8D929A;
    margin-bottom: 6px;
  }
  a{
    font-size: 14px;
    color: #2B2B2B;
  }
}
.mat-list-base{
  padding-top: 0;
}

mat-table h3{
  span{
    font-size: 12px;
    color: #565A60;
  }
}
@media screen and (max-width: 950px) {
  .first-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    text-transform: uppercase;
  }
}
.time{
  font-size: 12px;
  color: #565A60;
  margin-right: 4px;
  font-weight: 600;
}
.tr-date{
  font-size: 12px;
  color: #565A60;
}
.no_transactions {
  font-size: 20px;
  color: #C1C4CB;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 520px) {
  /deep/
  mat-table mat-row {
    flex-wrap: wrap;
    padding: 24px!important;
  }

  /deep/
  mat-table mat-row mat-cell {
    flex: 1 1 50% !important;

    &:first-of-type {
      display: none !important;
    }

    &:nth-of-type(2) {
      display: flex;
      h3 {
        margin-bottom: 0 !important;
      }
      p:before {
        content:',';
        margin-right: 4px;
      }
    }

    &:nth-of-type(3) {
      order: 1;
      flex-basis: 100% !important;

      .mat-list-item {
        padding: 0 !important;
        height: auto !important;

        .mat-list-item-content {
          padding: 0;
        }

        h3 {
          white-space: normal !important;

          span {
            color: #8d8d8d;
            font-size: 12px!important;
            display: inline-block;
            margin-bottom:4px;
          }
        }
      }
    }
  }

  .payment-line {
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}
