.icon-edit {
  color: #3366ff;
}

.delete-item {
  color: #d43f3a !important;
}

:host ::ng-deep app-notification-dropdown {
  #notdrop {
    position: static;
    max-width: 100%;
    max-height: none;
    margin-bottom: 20px;

    #notification-list {
      overflow-x: visible;
      overflow-y: visible;
      max-height: none !important;
    }

    .inner-ul {
      max-height: none !important;
      width: 100% !important;
    }

    .vh-centered {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
