.footer-wrap{
  background-color: #191B1E;
}
.inner-wrap {
  width: 100%;
  max-width: 1160px;
  display: block;
  position: relative;
  margin: auto;
  padding: 0!important;
}

.footer-wrap .line {
  width: calc(100% - 220px);
  position: absolute;
  left: 50%;
  margin: 0 auto;
  top: 0;
  height: 1px;
  transform: translateX(-50%);
  opacity: 0.51;
  border: 1px solid rgba(236, 240, 243, 0.2);

}

.content-wrap {
  position: relative;
  padding: 35px 24px;
  .copyright{
    margin: 0!important;
  }
}
.footer-wrap .footer-navigation {
  display: block;
  text-align: center;
}

.footer-wrap .footer-navigation a, .footer-wrap .footer-navigation span {
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 700;
  margin: 0 8px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-wrap .footer-navigation a, .footer-wrap .footer-navigation span {
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 700;
  margin: 0 8px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-wrap .copyright {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.footer-wrap .copyright .social-icon {
  display: inline-block;
  margin: 0 10px 20px 10px;
  font-size: 18px;
}

.footer-wrap .copyright a {
  color: #CCC;
}

.footer-wrap .copyright .social-icon {
  display: inline-block;
  margin: 0 10px 20px 10px;
  font-size: 18px;
}

.footer-wrap .copyright a {
  color: #979797;
}

.footer-wrap .copyright p {
  margin-bottom: 0;
  color: #979797;
  font-family: 'Open Sans',sans-serif;
  text-align: center;
  font-size: 14px;
  color: rgba(236,240,243,0.40);
  font-weight: 500;
}

.footer-wrap .copyright p.copy {
  font-weight: bold;
}
.footer-wrap.authenticated-footer{
  .line{
    border: 1px solid #C1C4CB;
    opacity: .51;
  }
  background-color: transparent;
  p{
    font-size: 14px;
    color: #8D929A!important;
  }
}
mat-icon {
  position: fixed;
  top:-9999px;
  left:-9999px;
}
