<ng-container *ngIf="transaction; else loading">
    <div class="container-fluid main-grid mb-5">
        <div class="mt-3 transaction-table">
            <h2 class="mb-5">
              Transaction
              <span>{{transaction.transactionHash}}</span>
            </h2>

          <div class="inner-table mb-5">
            <table *ngIf="transaction">
              <thead>
                <tr>
                  <th>Main</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of transaction | keyvalue">

                <td *ngIf="!['transfer', 'block'].includes(item.key) && item.value">
                    <span>{{item.key}} </span>
                    <span class="value">{{item.value}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="inner-table mb-5">
            <table *ngIf="transaction.block">
              <thead>
              <tr>
                <th>Block</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let block of transaction.block | keyvalue">
                <td>
                  <span>{{block.key}} </span>
                  <span class="value">{{block.value}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="inner-table mb-5">
            <table *ngIf="transaction.transfer">
              <thead>
              <tr>
                <th>Transfer</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let transfer of transaction.transfer | keyvalue">
                <td>
                  <span>{{transfer.key}} </span>
                  <span class="value">{{['to', 'from'].includes(transfer.key) ? transfer.value.address : transfer.value}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>


            <!--<div class="main" *ngIf="transaction">-->
                <!--<h3>Main</h3>-->
                <!--<div *ngFor="let item of transaction | keyvalue">-->
                    <!--<ng-container *ngIf="!['transfer', 'block'].includes(item.key) && item.value">-->
                        <!--<span>{{item.key}}  : </span>-->
                        <!--<span>{{item.value}}</span>-->
                    <!--</ng-container>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="block" *ngIf="transaction.block">-->
                <!--<h3> Block </h3>-->
                <!--<div *ngFor="let block of transaction.block | keyvalue">-->
                    <!--<span>{{block.key}}  : </span>-->
                    <!--<span>{{block.value}}</span>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="transfer" *ngIf="transaction.transfer">-->
                <!--<h3> Transfer </h3>-->
                <!--<div *ngFor="let transfer of transaction.transfer | keyvalue">-->
                    <!--<span>{{transfer.key}} : </span>-->
                    <!--<span>{{['to', 'from'].includes(transfer.key) ? transfer.value.address : transfer.value}}</span>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</ng-container>

<ng-template #loading >
    <div class="row justify-content-center align-items-center spinner no-gutters">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
