<div class="session-page">
  <div class="header-text autologout" *ngIf="accountService.autoLogOut">
      <span>
          Looks like you have left.
      </span>
    <p>
      We have logged you out to keep your wallet safe. To start working again, just log back in.
    </p>
  </div>
  <div class="centered session-form positioned" [ngClass]="{'position-top':accountService.autoLogOut }"
       *ngIf="authStep == AuthStepStatusEnum.Init">
    <h1>Log in to PUBLIQ Wallet</h1>
    <h2>Enter your email to get authorization link.</h2>

    <div>
      <form class="form" novalidate (ngSubmit)="authenticate()" [formGroup]="loginForm">

        <input class="mail-input" formControlName="email" placeholder="Email" required>

        <div [hidden]="!hasErrors">
          <app-control-message class="warning mb-4 h6" [control]="loginForm.controls['email']"></app-control-message>
        </div>

        <button class="submit-button" (click)="validateForm()">Get the link</button>

        <p class="have-wallet">No wallet? <a href="" routerLink="/user/register">Create one</a></p>
      </form>
    </div>
  </div>

  <div class="centered session-form pls-check" *ngIf="authStep == AuthStepStatusEnum.Success">
    <h2 *ngIf="formView === 'successLoginMessage';else needRegisterMessage">
      Please check your email to access your authorization link.
    </h2>
    <ng-template #needRegisterMessage>
      <h2>
        You do not have a PUBLIQ Wallet, please check your email to access your authentication link.
      </h2>
    </ng-template>
  </div>

  <mat-card class="centered mat__spinner" *ngIf="authStep == AuthStepStatusEnum.Loading">
    <mat-spinner style="margin: 50px auto;"></mat-spinner>
  </mat-card>
</div>
