mat-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  margin: 20px auto;
}

.full-width {
  width: 100%;
}

.forgot-password {
  color: #6b6b6b;
  &:hover {
    color: #36f;
    text-decoration: none;
  }
}
.positioned.position-top{
  margin-top: 50px;
}
.autologout{
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  max-width: 400px;
  margin: 10vh auto 0;
  padding: 30px 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.4;
  font-size: 16px;
  color: #565A60;
}
@media screen and (max-width: 560px) {
  mat-card {
    box-shadow: none !important;
  }
}
