<ng-container *ngIf="transactions; else loading">
    <div class="transactions-table" *ngIf="transactions.length">
        <div class="transaction-table-item" *ngFor="let transaction of transactions">
            <div class="transaction-table-body transaction-user-body" [class.amount-shown]="amountShown">
                <div class="transaction-table_hash">
                    <small>Hash</small>
                    <a routerLink="/block/transaction/{{transaction.transactionHash}}">{{transaction.transactionHash}}</a>
                </div>
                <div class="transaction-table_confirmations">

                    <small *ngIf="transaction.isConfirmed">Confirmed</small>
                    <small *ngIf="!transaction.isConfirmed">Unconfirmed</small>
                    <span></span>
                    <!--<span>3</span>-->
                </div>
                <div class="transaction-table_amount" *ngIf="amountShown">
                    <small>Amount</small>
                    <img src="assets/img/noah-coin.svg" alt="">
                    <span>{{transaction.transfer.whole + '.' + transaction.transfer.fraction}}</span>
                </div>
                <div class="transaction-table_user_recepient" *ngIf="ownerAddress === transaction.transfer.to.address">
                    <img src="assets/img/received.svg" alt="">
                    <span>Received</span>
                    <a routerLink="/a/{{transaction.transfer.from.address}}">{{transaction.transfer.from.address}}</a>
                </div>
                <div class="transaction-table_user_recepient" *ngIf="ownerAddress !== transaction.transfer.to.address">
                    <img src="assets/img/sent.svg" alt="">
                    <span>Sent</span>
                    <a routerLink="/a/{{transaction.transfer.to.address}}">{{transaction.transfer.to.address}}</a>
                </div>
                <div class="transaction-table_date" *ngIf="transaction.isConfirmed">
                    <span>{{transaction.block.signTime | date: 'yyyy-MM-dd HH:mm'}}</span>
                </div>
            </div>
        </div>
    </div>
</ng-container>
