<ng-container *ngIf="transactions">
    <div class="transactions-table" *ngIf="transactions.length">
        <div class="transaction-table-item" *ngFor="let transaction of transactions">
            <div class="transaction-table-body transaction-user-body" [class.amount-shown]="amountShown">
                <div class="transaction-table_hash">
                    <small>Hash</small>
                    <a class="linked" routerLink="/t/{{transaction.transactionHash}}">{{transaction.transactionHash}}</a>
                </div>
                <div class="transaction-table_confirmations">

                    <small *ngIf="transaction.isConfirmed">Confirmed</small>
                    <small *ngIf="!transaction.isConfirmed">Unconfirmed</small>
                    <span></span>
                    <!--<span>3</span>-->
                </div>
                <div class="transaction-table_amount" *ngIf="amountShown">
                    <small>Amount</small>
                    <span>{{transaction.transfer.amount.balance | number: '0.0-8'}}</span>
                </div>
                <div class="transaction-table_user_recepient" *ngIf="account.address === transaction.transfer.to.address">
                  <img class="arrows" src="../../../assets/img/ArrowDown.svg" alt="">
                    <span>Received</span>
                    <a class="linked" routerLink="/a/{{transaction.transfer.from.address}}">{{transaction.transfer.from.address}}</a>
                </div>
                <div class="transaction-table_user_recepient" *ngIf="account.address !== transaction.transfer.to.address">
                  <img class="arrows" src="../../../assets/img/ArrowUp.svg" alt="">
                    <span>Sent</span>
                    <a class="linked" routerLink="/a/{{transaction.transfer.to.address}}">{{transaction.transfer.to.address}}</a>
                </div>
                <div class="transaction-table_date" *ngIf="transaction.isConfirmed">
                    <span>{{transaction.block.signTime | date: 'yyyy-MM-dd HH:mm'}}</span>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div *ngIf="loadingBlocks" class="row justify-content-center align-items-center spinner no-gutters">
    <mat-spinner></mat-spinner>
</div>


<ng-container *ngIf="seeMoreChecker">
    <div
            class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            [infiniteScrollDisabled]="blockInfiniteScroll"
            (scrolled)="seeMore()"
    ></div>
</ng-container>
