<div class="inner-form" *ngIf="accountId">
  <div class="small-container">
    <div>
      <h2>Your address can also be known as you public key. It is what you share with people so they can send you
        tokens.</h2>

      <div class="copy-address-input">
        <span>Your address</span>
        <label class="acc-parent">
          <input class="acc-id" value="{{accountId}}">
          <span class="copy-btn"><img src="../../../assets/copy.svg" alt="copy"></span>
        </label>

      </div>
    </div>

    <img class="qr-code-img"
         src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{accountId}}&choe=UTF-8&chld=L|1">

  </div>

  <div class="chartImage d-flex align-items-center justify-content-center" *ngIf="false">
    <img class="ml-md-3 mx-auto mt-5"
         src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{accountId}}&choe=UTF-8&chld=L|1">
  </div>

</div>
