<div class="vh-centered" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<main class="materials">
    <div class="container-fluid">
        <div class="publications-list-wrap">
            <div *ngIf="!loading">
                <div style="padding: 50px 5px;" class="main-container clearfix"
                     *ngIf="filteredPublications.length > 0;else noPublications">
                    <div class="row">
                        <div class="cols col-lg-4 col-md-6 col-sm-12"
                             *ngFor="let publication of filteredPublications; let index = index">
                            <div class="card-info" (click)="goToDetail(publication.slug, 1)">
                                <div class="cover-space cover-overlay"
                                     [ngStyle]="{'background-color': publication.cover? 'white': 'transparent' }">
                                    <img class="if-cover" *ngIf="publication.cover" [src]="filePath + publication.cover"
                                         alt="cover">
                                    <img class="if-no-cover" *ngIf="!publication.cover"
                                         src="http://www.publiq.site/media/images/products/626_cover.jpg" alt="cover">
                                </div>
                                <div class="profile-pic"
                                     [ngStyle]="{'background-color': publication.logo? 'white': '#3365ff' }">
                                    <img *ngIf="publication.logo" [src]="filePath + publication.logo" alt="img">
                                    <span *ngIf="!publication.logo"
                                          class="pub-first-letter">{{publication.title | pubTitle}}</span>
                                </div>
                                <div class="title-space">
                                    <h4> {{publication.title}} </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noPublications>
            <div class="empty">
                <img src="/assets//no-materials.svg" alt="">
                <p>{{'content.no_publications' | translate}}</p>
            </div>
        </ng-template>
    </div>
</main>