<div class="main-wrap">
  <div class="inner-wrap-main">
    <div class="main-wrap">
      <div *ngIf="searchSelectedType == searchType.block">
        <app-block [blockData]="searchData"></app-block>
      </div>

      <div *ngIf="searchSelectedType == searchType.account">
        <app-account [account]="searchData"></app-account>
      </div>

      <div *ngIf="searchSelectedType == searchType.transaction">
        <app-transaction [transaction]="searchData"></app-transaction>
      </div>
    </div>
  </div>
</div>
