<div class="main-wrap">
  <div class="inner-wrap-main">
    <div class="main-wrap">
      <div *ngIf="searchSelectedType == searchType.block">
        <app-block [blockData]="searchData"></app-block>
      </div>

      <div *ngIf="searchSelectedType == searchType.account">
        <app-account [account]="searchData"></app-account>
      </div>

      <div *ngIf="searchSelectedType == searchType.transaction">
        <app-transaction [transaction]="searchData"></app-transaction>
      </div>
    </div>

    <div *ngIf="!loading && !searchData" class="no-content">
      <a class="button-fill" href="">Page not found</a>
    </div>

    <div *ngIf="loading && !searchData" class="row justify-content-center align-items-center spinner no-gutters">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
