.follow-button {
  display: inline-block;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;

  &:hover i,  &:hover span {
    opacity: 1;
  }

  i {
    font-size: 18px;
    vertical-align: middle;
    opacity: .9;
  }

  span {
    margin-left: 4px;
    font-size: 18px;
    vertical-align: middle;
    opacity: .9;
  }
  
}.noHover{
    opacity: 1;
    cursor:none;
    span{
      opacity: 1;
    cursor:none;
    &:hover {
      opacity: 1;
    }
    }
    
  }

.pub-info-container {
  z-index: 1;
  position: relative;
  color: #ffffff;

  h3 {
    color: #dadada!important;

    span {
      color: #ffffff!important;
    }
  }
}

.pub-description{
  font-size: 18px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  font-weight: 200;
}
.core-cancel{
  text-transform: capitalize;
}
.acc-name {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-transform: none;
  text-overflow: ellipsis;
}

.author-header-wrap .d-flex{
  position: relative; padding: 0 15px
}
.author-header-wrap.transparent-wrap{
  background: transparent;
}
@media screen and (max-width: 768px) {
  .author-header-wrap .title-wrap {
    display: block;
    .follow-button{
      margin: 0 15px!important;
    }
  }
  .author-header-wrap .avatar-wrap {
    float: none;
    width: 100%;
  }

  .author-header-wrap .avatar-wrap .avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #3366ff;
    vertical-align: middle;
    z-index: 1;
    background-size: cover;
    span{
      font-size: 30px;
    }
  }
  .pub-description{
    text-align: center;
  }

  .author-header-wrap .avatar-wrap .avatar-back {
    width: 120px;
    height: 120px;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    vertical-align: middle;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 20px;
    z-index: 0;
  }

  .author-header-wrap .title-wrap {
    padding: 34px 0 !important;
  }

  .author-header-wrap .avatar-wrap .avatar span {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 32px;
    color: #fff;
  }

  h1 {
    font-size: 30px !important;
    text-align: center;
    margin: 20px 0 !important;
  }

  .author-header-wrap h3 {
    font-size: 12px !important;
    font-weight: 700 !important;
    font-family: 'Open Sans',sans-serif;
    padding: 0 !important;
    text-transform: uppercase !important;
    padding-left: 10px;
    text-align: center;
    margin: auto;
    line-height: 22px;
  }

  .author-header-wrap h4 {
    text-align: center;
    color: #000;
    margin: 20px 0 0 0 !important;
  }
}
.cover-opacity {
  opacity: .1;
}
.cover-filter{
  filter: grayscale(100%);
}

.empty {
  font-family: "Open Sans", sans-serif;
}
