<div class="centered restore">
    <div class="recovery-header">
        <h4>{{'user.password_reset' | translate }}</h4>
        <button *ngIf="formView !== 'success'" routerLink="/user/login">
            <span class="close-btn">
                <span class="close-span"></span>
                <span class="close-span"></span>
            </span>
        </button>
    </div>

    <div class="restore-content" *ngIf="formView === 'formView'">
        <form class="form" novalidate (ngSubmit)="recover()" [formGroup]="recoverForm">
            <h5>{{'user.create_new_password' | translate }}</h5>

            <input class="mail-input" type="password" formControlName="password" [placeholder]="'user.new_password' | translate" required/>

            <input class="mail-input" formControlName="confirmPassword" [placeholder]="'user.confirm_password' | translate"
                   type="password"
                   required/>

            <div class="warning">
                <app-control-message [control]="recoverForm"></app-control-message>
            </div>

            <div class="warning">
                <app-control-message [control]="recoverForm.controls['password']"></app-control-message>
            </div>

            <div class="warning" *ngIf="errorMessage">
                <div>{{errorMessage}}</div>
            </div>

            <div class="submit-div okay-div">
                <button class="submit-button" [disabled]="!recoverForm?.valid" type="submit">
                  {{'core.submit' | translate }}
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="formView === 'success'" class="successfully-restored">
        <i class="icon-success"></i>

        <h4>{{ 'user.new_password_successfully' | translate }}</h4>

        <div class="button-container">
            <button class="submit-button" routerLink="/wallet/transfer">{{ 'core.ok' | translate }}</button>
        </div>
    </div>

    <mat-spinner class="centered" *ngIf="formView === ''" style="margin: 50px auto;"></mat-spinner>

</div>
